.control {
  text-align: center;
  vertical-align: middle;
  width: 16.67%;

  span {
    display: block;
  }
  button {
    text-align: center;
    width: 100%;
  }
}

.grantAllRow td {
  border: 0;
}
