.section {
  @media print {
    display: block !important;
    page-break-inside: avoid;
  }
}

.sectionContentCollapsed {
  display: block !important;
  height: 0;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  visibility: hidden;

  @media print {
    height: auto;
    overflow: visible;
    padding: 15px 0 !important;
    visibility: visible;
  }
}
