.accordion {
  :global(.govuk-accordion__section-heading) {
    color: inherit;
    font-size: inherit;
  }
}

:global(.js-enabled) {
  .accordion :global(.govuk-accordion__controls) {
    @media print {
      display: none !important;
    }
  }
  .accordion :global(.govuk-accordion__section-content) {
    @media print {
      display: block !important;
    }
  }
}

.section {
  page-break-inside: avoid;
}

:global(.js-enabled
    .govuk-accordion__section--expanded
    .govuk-accordion__section-content) {
  display: block !important;
  height: auto;
  padding: 15px 0;
  visibility: visible;
}

:global(.js-enabled .govuk-accordion__section-content) {
  display: block !important;
  height: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;

  @media print {
    display: block !important;
    height: auto;
    padding: 15px 0;
    visibility: visible;
  }
}

.govuk-accordion__section {
  @media print {
    display: block !important;
  }
}
