:global(.js-enabled) {
  .accordionPrint :global(.govuk-accordion__controls) {
    @media print {
      display: none;
    }
  }
  .accordionPrint :global(.govuk-accordion__section-content) {
    @media print {
      display: block;
    }
  }
}

.section {
  page-break-inside: avoid;
}
