@use 'govuk-frontend/dist/govuk/base' as *;

.container {
  background: govuk-functional-colour('template-background');
  border-bottom: 1px solid govuk-functional-colour('surface-border');
  padding: govuk-spacing(2) 0;
}

.close {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    color: govuk-colour('black') !important;
  }
}
