@import '../styles/govuk-base';

.button {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  background: none;
  border-width: 0;
  color: govuk-colour('blue');
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: underline;
  &:focus {
    @include govuk-focused-text;
  }
  &:global(.govuk-button) {
    box-shadow: none;
    margin: 0;
    padding: 10px;
  }
  &:global(.govuk-button):hover {
    background: none;
  }
  &:global(.govuk-button):focus {
    background: none;
    box-shadow: none;
  }
}

.noUnderline {
  text-decoration: none;
}
