@import '../styles/govuk-base';

.group {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: govuk-spacing(6);

  > * {
    margin-bottom: govuk-spacing(4);
    margin-right: 0;
  }

  > :last-child {
    margin-right: 0;
  }

  // stylelint-disable-next-line order/order
  @include govuk-media-query($from: tablet) {
    flex-direction: row;

    > * {
      margin-bottom: 0;
      margin-right: govuk-spacing(2);
    }
  }
}
