@import '../styles/govuk-base';

.button {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  @include govuk-focusable-fill;

  background: none;
  border-width: 0;
  color: govuk-colour('blue');
  cursor: pointer;
  display: inline-block;
  padding: 0;
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}
