@import '../styles/govuk-base';

.hidePrint {
  display: block;
  @media print {
    display: none;
  }
}

.listContainer {
  @include govuk-media-query($from: desktop) {
    :global(.dfe-width-container--wide) & {
      max-width: 66.6%;
      @media print {
        max-width: 100%;
      }
    }
  }

  :global(.govuk-visually-hidden) {
    @media print {
      clip: unset !important;
      clip-path: unset !important;
      height: auto !important;
      overflow: visible !important;
      position: static !important;
      width: auto !important;
    }
  }
}
