@import '~govuk-frontend/govuk/base';

.hidePrint {
  display: block;
  @media print {
    display: none;
  }
}

.listContainer {
  :global(.govuk-visually-hidden) {
    @media print {
      clip: unset !important;
      clip-path: unset !important;
      height: auto !important;
      overflow: visible !important;
      position: static !important;
      width: auto !important;
    }
  }
}
