@use '~govuk-frontend/dist/govuk/base' as *;

.infoIcon {
  background-color: govuk-functional-colour(link);
  border-radius: 10px;
  color: govuk-colour('white');
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  width: 20px;

  &:hover {
    background-color: govuk-functional-colour(link-hover);
    color: govuk-colour('white');
  }
}
