@use '~govuk-frontend/dist/govuk/base' as *;

.success {
  border-left-color: govuk-colour('teal', $variant: 'primary');
}

.warning {
  border-left-color: govuk-colour('orange');
}

.error {
  border-left-color: govuk-colour('red');
}
