@import '../styles/govuk-base';

.container {
  border: 2px solid govuk-colour('light-grey');
  display: inline-block;
}

.linkSelect {
  background: govuk-colour('light-grey');
  display: inline-block;
  line-height: 1.4;
  margin: 0;
  padding: 6px;
  user-select: all;
  white-space: pre-wrap;
}
