@import '~govuk-frontend/dist/govuk/base';

.navContainer {
  @include govuk-media-query($from: tablet) {
    border-bottom: 0;
    max-height: 100vh;
    position: sticky;
    top: govuk-spacing(4);
  }
}

.subNav {
  padding-left: govuk-spacing(4);
}

.subNavItem {
  &::before {
    content: '—';
    margin-left: -#{govuk-spacing(4)};
    color: govuk-colour('dark-grey');
  }
}

.subNavLink {
  padding-left: 2px;
}
