@use '~govuk-frontend/dist/govuk/base' as *;

.dropArea {
  &:focus {
    outline: $govuk-focus-width solid govuk-functional-colour(focus);
  }
}

.dropAreaActive {
  background: govuk-colour('black', $variant: 'tint-95');
  outline: $govuk-focus-width solid govuk-functional-colour(focus);
}
