.tabs {
  @media print {
    :global(.govuk-tabs__list) {
      list-style: none;
    }

    :global(.govuk-tabs__list-item) {
      display: none;
    }

    :global(.govuk-tabs__tab) {
      display: none;
    }
  }
}
