@import '~govuk-frontend/govuk/base';

.url {
  background: govuk-colour('light-grey');
  border: 0;
  display: inline-block;
  padding: govuk-spacing(2) govuk-spacing(4);
  user-select: all;
  white-space: pre-wrap;
  width: 100%;
}
