@import '~govuk-frontend/dist/govuk/base';

@include govuk-media-query($from: tablet) {
  .inlineHint {
    :global(.govuk-radios__hint) {
      align-items: center;
      display: flex;
      padding: 0;
      width: auto;
    }
  }
}

.divider {
  margin: govuk-spacing(4) 0;
}

.hasSwatch {
  label {
    align-items: center;
    display: flex;
    padding-left: govuk-spacing(2);
    max-width: none;
  }
}

.swatch {
  margin-right: govuk-spacing(2);
  height: 30px;
  width: 30px;
}
