@import '~govuk-frontend/govuk/base';

.inlineHint {
  display: flex;

  :global(.govuk-radios__hint) {
    align-items: center;
    display: flex;
    margin: 0 !important; // Needed to override a very specific govuk style
    padding: 0;
  }
}

.divider {
  clear: left;
  float: left;
  margin: govuk-spacing(4) 0;
}
