@import '~govuk-frontend/govuk/base';

.select {
  appearance: none;
  background: #fff
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="%23000000" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>')
    center right no-repeat;
  padding: govuk-spacing(1) govuk-spacing(6) govuk-spacing(1) govuk-spacing(1);

  &::-ms-expand {
    display: none;
  }
}
