@import '../../styles/govuk-base';

.inputContainer {
  padding: 0 govuk-spacing(2);
}

.optionsContainer {
  height: 20vh;
  margin: govuk-spacing(4) govuk-spacing(2) govuk-spacing(1);
  overflow-x: hidden;
  overflow-y: auto;
  padding: govuk-spacing(2);
}
