@page
@model ExternalLoginModel

@{
    var contactEmail = "explore.statistics@education.gov.uk";
}
<h1 class="govuk-heading-l">
    You are not authorised to access this service
</h1>

<p class="govuk-body">
    You can request access to the Explore education statistics service by contacting <a class="govuk-link" href="mailto:@contactEmail">@contactEmail</a>.
</p>