@page
@model LoginModel

@{
    ViewData["Title"] = "Sign-in";
}

<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Explore education statistics</span>
    Sign-in
</h1>
<p class="govuk-body">Use this service to publish official Department for Education (DfE) statistics and data for state-funded schools in England.</p>
<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button
                    type="submit"
                    class="govuk-button govuk-button--start"
                    name="provider"
                    value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">
                    Sign-in
                </button>
            }
        </p>
    </div>
</form>