@page
@model LoginModel

@{
    ViewData["Title"] = "Sign in";
}

<span class="govuk-caption-l">Explore education statistics</span>

<h1 class="govuk-heading-xl" data-testid="page-title">@ViewData["Title"]</h1>

<p class="govuk-body">Use this service to create and publish Department for Education (DfE) official and national statistics.</p>
<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
                <button
                    id="signin-button"
                    type="submit"
                    class="govuk-button govuk-button--start"
                    name="provider"
                    value="@provider.Name"
                    title="Log in using your @provider.DisplayName account">
                    Sign in
                      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
                </button>
            }
        </p>
    </div>
</form>
