{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Pupil wellbeing, behaviour and attendance</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">School attendance and absence</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    School statistics
  </h1>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="/school-statistics/pupil-absence/">Pupil absence</a>
    </li>
    <li>
      <a href="/school-statistics/exclusions/">Exclusions</a>
    </li>
    <li>
      <a href="/school-statistics/school-and-pupil-numbers/">School and pupil numbers</a>
    </li>
  </ul>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a href="#">key stage 2</a>
    </li>
    <li>
      <a href="#">GCSEs (key stage 4)</a>
    </li>
    <li>
      <a href="#">performance tables</a>
    </li>
    <li>
      <a href="#">local authority and school finance</a>
    </li>
    <li>
      <a href="#">admission appeals</a>
    </li>
    <li>
      <a href="#">school applications</a>
    </li>
    <li>
      <a href="#">school capacity</a>
    </li>
    <li>
      <a href="#">education and training</a>
    </li>
    <li>
      <a href="#">special educational needs (SEN)</a>
    </li>
    <li>
      <a href="#">pupil projections</a>
    </li>
    <li>
      <a href="#">Parental responsibility measures</a>
    </li>
    <li>
      <a href="#">initial teacher training</a>
    </li>
    <li>
      <a href="#">school workforce</a>
    </li>
    <li>
      <a href="#">Teacher workforce statistics and analysis</a>
    </li>
  </ul>
</div>

{% endblock %}