{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
	<ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Pupil wellbeing, behaviour and attendance</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">School attendance and absence</a>
		</li>
	</ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    School statistics
  </h1>
  <p>
    <a href="/school-statistics/pupil-absence/">Pupil absence</a>
  </p>

</div>

{% endblock %}