<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <httpRuntime executionTimeout="14400" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="True">
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <applicationInitialization doAppInitAfterRestart="true">      
      <add initializationPage="/api/health"/>
    </applicationInitialization>
  </system.webServer>
</configuration>
