@model GovUk.Education.ExploreEducationStatistics.Content.Model.Publication

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Publication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSource" class="control-label"></label>
                <input asp-for="DataSource" class="form-control" />
                <span asp-validation-for="DataSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextUpdate" class="control-label"></label>
                <input asp-for="NextUpdate" class="form-control" />
                <span asp-validation-for="NextUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LegacyPublicationUrl" class="control-label"></label>
                <input asp-for="LegacyPublicationUrl" class="form-control" />
                <span asp-validation-for="LegacyPublicationUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopicId" class="control-label"></label>
                <select asp-for="TopicId" class="form-control" asp-items="ViewBag.TopicId"></select>
                <span asp-validation-for="TopicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
