@{
    ViewData["Title"] = "Publish release data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="PublishReleaseData">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                Publish release data
            </h1>
        </legend>

        <div class="govuk-form-group">
            <label for="release" class="govuk-label govuk-label--s">Release</label>
            <select class="govuk-select" id="release" name="releaseId" asp-items="ViewBag.ReleaseId"></select>
        </div>

        <button type="submit" class="govuk-button">
            Publish
        </button>
    </fieldset>
</form>