@model GovUk.Education.ExploreEducationStatistics.Content.Model.Release
@{
    ViewData["Title"] = "Release data published";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Release data published
    </h1>
    <div class="govuk-panel__body">
        Release<br><strong>@Model.Title</strong>
    </div>
</div>