@import '~govuk-frontend/dist/govuk/base';

.table {
  td {
    padding-bottom: govuk-spacing(2);
    padding-top: govuk-spacing(2);
    vertical-align: middle;
  }

  .fileSize {
    width: 5rem;
    text-align: right;
  }

  .fileStatus {
    max-width: 164px;
  }

  .actions {
    margin-bottom: 0;
  }
}
