@import '~govuk-frontend/govuk/base';

.isExpandedItem {
  background: govuk-colour('light-grey') !important;

  .isExpandedItem {
    background: lighten(govuk-colour('light-grey'), 2);
  }
}

.dragHandle {
  font-size: 1rem;
  left: 12px;
  position: absolute;
  top: govuk-spacing(3);
}

.draggableInner {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0 govuk-spacing(2) 0 0;
}

.optionLabel {
  &.isExpanded {
    font-weight: $govuk-font-weight-bold;
  }

  &.hideDragHandle {
    padding-left: 40px;
  }
}

.inner {
  width: 100%;
}

.dropArea {
  margin-bottom: govuk-spacing(6);
  .dropArea & {
    margin: govuk-spacing(2) govuk-spacing(1) govuk-spacing(4) 0;
  }
}
