@import '~govuk-frontend/govuk/base';

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{govuk-spacing(1)} govuk-spacing(2);
}

.definition {
  background: govuk-colour('white');
  font-size: 16px !important;
  margin: 0;
  padding: 0.2rem 0 0.2rem 0.5rem;
  position: relative;
  width: 100%;

  &[open] {
    box-shadow: 3px govuk-colour('black');
  }

  :global(.govuk-details__summary) {
    margin-bottom: 0;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.govuk-details__text) {
    background: govuk-colour('white');
    border: 2px solid govuk-colour('black');
    border-top: 0;
    box-sizing: border-box;
    max-height: 40vh;
    overflow: auto;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2;
  }
}

.trendText {
  color: govuk-colour('white');
}
