@import '~govuk-frontend/dist/govuk/base';
@import '@common/styles/variables';

.container {
  margin: 0 -#{govuk-spacing(1)} govuk-spacing(2);
  display: grid;

  // If there is only one child, make it full width
  &:has(> :only-child) {
    --min-item-width: 1fr;
  }

  // If there are exactly two or four tiles, set a width value
  // that results in two per row instead of 3
  &:has(> :nth-child(4):last-child),
  &:has(> :nth-child(2):last-child) {
    --min-item-width: 340px;
  }

  @include govuk-media-query($from: tablet) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(var(--min-item-width, 250px), 1fr)
    );
  }
}

.guidanceText {
  white-space: pre-wrap;
}

.guidanceTitle {
  background: govuk-colour('white');
  font-size: 16px !important;
  margin: 0;
  padding: 0.2rem 0 0.2rem 0.5rem;
  position: relative;
  text-align: left;
  width: 100%;

  &[open] {
    box-shadow: 3px govuk-colour('black');
  }

  :global(.govuk-details__summary) {
    margin-bottom: 0;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :global(.govuk-details__text) {
    background: govuk-colour('white');
    border: 2px solid govuk-colour('black');
    border-top: 0;
    box-sizing: border-box;
    max-height: 40vh;
    overflow: auto;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 2;
  }
}

/* stylelint-disable max-nesting-depth */
.guidanceTitleRedesign {
  background: $_govuk-rebrand-light-blue-background-colour;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  border: 1px solid $_govuk-rebrand-border-colour-on-blue-tint-95;
  align-self: start;

  :global(.govuk-details__summary) {
    @include govuk-font-size($size: 16);
    padding: 0.5rem;
    padding-right: 2rem;
    color: govuk-colour('black');
    text-decoration: none;
    margin-bottom: 0;
    position: relative;
    width: auto;

    &::before {
      display: none !important;
    }

    &::after {
      content: '?';
      background-color: govuk-colour('blue');
      color: govuk-colour('white');
      font-weight: bold;
      width: 22px;
      height: 22px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover::after {
      background-color: govuk-colour('dark-blue');
    }
  }

  :global(.govuk-details__summary-text) {
    text-decoration: none !important;
  }

  :global(.govuk-details__text) {
    border: 0;
    box-sizing: border-box;
    max-height: 40vh;
    overflow: auto;
    text-align: left;
    width: 100%;
    padding-inline: 0.5rem;

    * {
      @include govuk-font-size($size: 16);
    }
  }
}
/* stylelint-enable max-nesting-depth */

.textTile {
  background: govuk-colour('light-grey');
  border: 3px solid govuk-colour('blue');
  padding: govuk-spacing(3);
}

.trendText {
  color: govuk-colour('white');
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  margin-bottom: govuk-spacing(2);
  max-width: 100%;
  padding: 0 govuk-spacing(1);

  &:only-child {
    text-align: center;
  }
}

.wrapperRedesign {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
}
