@import '../../../../src/styles/govuk-base';

@mixin print-block() {
  @media print {
    display: block !important;
  }
}

@mixin print-black-text() {
  @media print {
    color: govuk-colour('black');
  }
}

.keyStatsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.keyStatTile {
  @include print-block;

  display: flex;
  flex: 1 0 32.3%;
  flex-direction: column;
  margin: 0.5%;
  position: relative;

  @include govuk-media-query($until: tablet) {
    flex: 1 0 auto;
    margin-bottom: 1rem;
    max-width: 99%;
  }

  @include govuk-media-query($from: tablet) {
    margin-bottom: 6%;
    max-width: none;
  }

  @include govuk-media-query($from: desktop) {
    max-width: 32.2%;
  }

  .keyStat {
    @include print-block;

    background: $govuk-brand-colour;
    color: govuk-colour('white');
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-evenly;
    order: 2;
    padding: 0.7rem 1rem;

    @include govuk-media-query($until: tablet) {
      flex-basis: auto;
      padding-bottom: 0.5rem;
    }

    @media print {
      background: none;
      border-left: 4px solid $govuk-brand-colour;
    }
  }

  .keyStat :global(.govuk-heading-s) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0;
    padding: 0;
  }

  .keyStat :global(.govuk-heading-xl) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0;
    padding: 0;
  }

  .keyStat :global(.govuk-body-s) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0 0 0.5rem;
  }

  details {
    background: govuk-colour('white');
    bottom: -2rem;
    font-size: 1rem;
    margin: 0;
    min-height: 2rem;
    order: 2;
    padding: 0.2rem 0 0.2rem 0.5rem;
    position: absolute;
    width: 100%;

    @include govuk-media-query($until: tablet) {
      order: 2;
      position: static;
    }
  }

  :global(.dfe-page-editing) & details {
    order: 2;
    position: static;
  }

  :global(.govuk-details__summary) {
    margin-bottom: 0;
    max-width: calc(100% - 1rem);
    overflow: hidden;
    padding-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

:global(.dfe-page-editing) .keyStat {
  flex: 0 0 auto;
}

.keyStatTile :global(.govuk-details__text) {
  background: govuk-colour('white');
  box-sizing: border-box;
  margin-left: -8px;
  max-height: 40vh;
  overflow: auto;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;

  @include govuk-media-query($until: tablet) {
    position: static;
  }

  :global(.dfe-page-editing) & {
    position: static;
  }
}

.trendText {
  color: govuk-colour('white');
}

.keyStatEdit {
  margin-top: 1rem;
  order: 3;
}
