@import '../../../../src/styles/govuk-base';

@mixin print-block() {
  @media print {
    display: block !important;
  }
}

@mixin print-black-text() {
  @media print {
    color: govuk-colour('black');
  }
}

.keyStatsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.keyStatTile {
  @include print-block;

  display: flex;
  flex: 1 0 32.3%;
  flex-direction: column;
  margin: 0.5%;
  max-width: 32.3%;

  @include govuk-media-query($until: tablet) {
    flex: 0 0 100%;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .keyStat {
    @include print-block;

    background: $govuk-brand-colour;
    color: govuk-colour('white');
    flex: 1 0 auto;
    padding: 0.7rem 1rem;

    @include govuk-media-query($until: tablet) {
      flex-basis: auto;
    }

    @media print {
      background: none;
      border-left: 4px solid $govuk-brand-colour;
    }
  }

  .keyStat :global(.govuk-heading-s) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0;
    padding: 0;
  }

  .keyStat :global(.govuk-heading-xl) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0;
    padding: 0;
  }

  .keyStat :global(.govuk-body-s) {
    @include print-black-text;
    color: govuk-colour('white');
    margin: 0 0 0.5rem;
  }

  details {
    font-size: 1rem;
    margin: 0 0.5rem 0 0;
    min-height: 7.5rem;
    padding-top: 0.5rem;

    @include govuk-media-query($until: tablet) {
      min-height: auto;
    }
  }
}

.keyStatTile :global(.govuk-details__text) {
  padding: 0 20px;
}

.trendText {
  color: govuk-colour('white');
}
