@model GovUk.Education.ExploreEducationStatistics.Content.Model.Release

@{
    ViewData["Title"] = "Create new release";
}

<h1 class="govuk-heading-xl">Create new release</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="govuk-form-group">
        <label asp-for="PublicationId" class="govuk-label govuk-label--s"></label>
        <select asp-for="PublicationId" class="govuk-select" asp-items="ViewBag.PublicationId"></select>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Title" class="govuk-label govuk-label--s"></label>
        <input asp-for="Title" class="govuk-input" type="text">
    </div>
    <div class="govuk-form-group">
        <label asp-for="ReleaseName" class="govuk-label govuk-label--s"></label>
        <input asp-for="ReleaseName" class="govuk-input govuk-input--width-10"/>
        <span asp-validation-for="ReleaseName" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Slug" class="govuk-label govuk-label--s"></label>
        <input asp-for="Slug" class="govuk-input govuk-input--width-10"/>
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Summary" class="govuk-label govuk-label--s"></label>
        <textarea  asp-for="Summary" class="govuk-textarea"></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <input type="submit" value="Create release" class="govuk-button"/>
    </div>
    <a asp-action="Index" class="govuk-back-link">Back to List</a>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}