@model GovUk.Education.ExploreEducationStatistics.Content.Model.Release

@{
    ViewData["Title"] = Model.Title;
}

<h1 class="govuk-heading-xl">Edit a release</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <div class="govuk-form-group">
        <label asp-for="PublicationId" class="govuk-label govuk-label--s"></label>
        <select asp-for="PublicationId" class="govuk-select" asp-items="ViewBag.PublicationId"></select>
        <span asp-validation-for="PublicationId" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Title" class="govuk-label govuk-label--s"></label>
        <input asp-for="Title" class="govuk-input"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="ReleaseName" class="govuk-label govuk-label--s"></label>
        <input asp-for="ReleaseName" class="govuk-input govuk-input--width-10"/>
        <span asp-validation-for="ReleaseName" class="text-danger"></span>
    </div>
   
    <div class="govuk-form-group">
        <label asp-for="Slug" class="govuk-label govuk-label--s"></label>
        <input asp-for="Slug" class="govuk-input govuk-input--width-10"/>
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Summary" class="govuk-label govuk-label--s"></label>
        <textarea  asp-for="Summary" class="govuk-textarea"></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
 
    <hr/>
    
    <div class="govuk-form-group">
        <label asp-for="Content" class="govuk-label govuk-label--s"></label>
        <textarea asp-for="Content" class="govuk-textarea"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="KeyStatistics" class="govuk-label govuk-label--s"></label>
        <input asp-for="KeyStatistics" class="govuk-input"/>
        <span asp-validation-for="KeyStatistics" class="text-danger"></span>
    </div>
    
    
    <hr/>
    
    
    <div class="govuk-form-group">
        <label asp-for="Published" class="govuk-label govuk-label--s"></label>
        <input asp-for="Published" class="govuk-input govuk-input--width-10"/>
        <span asp-validation-for="Published" class="text-danger"></span>
    </div>
    
    
    <div class="govuk-form-group">
        <input type="submit" value="Save" class="govuk-button"/>
    </div>
</form>

<div>
    <a asp-action="Index" class="govuk-link">Cancel</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}