{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Pupil wellbeing, behaviour and attendance</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">School attendance and absence</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="app-content__header">
    <span class="govuk-caption-xl">
      School statistics
    </span>
    <h1 class="govuk-heading-xl">
      Exclusions
    </h1>
  </div>
  <ul class="govuk-list govuk-list--bullet">
      <li>
          <a href="#">Permanent and fixed period exclusions in England</a>
      </li>
  </ul>

</div>

{% endblock %}