@import '~govuk-frontend/dist/govuk/base';

.nav {
  @include govuk-media-query($from: tablet) {
    position: sticky;
    top: var(--admin-bar-offset, 0);
    z-index: 1001; // Above chart tooltip z-index of 1000
    background-color: govuk-colour('white');
  }
}

.navList {
  list-style: none;
  border-bottom: 1px solid $govuk-border-colour;
  padding: govuk-spacing(2) 0;
  margin: 0 0 govuk-spacing(2);

  ::-webkit-scrollbar {
    display: none;
  }

  @include govuk-media-query($from: tablet) {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    gap: govuk-spacing(4);
  }
}

.navItem {
  flex-shrink: 0;
  display: flex;
  border-left: 5px solid transparent;
  margin: 0 0 govuk-spacing(3);
  border-left-width: 5px;
  text-decoration: none;
  color: $govuk-link-colour;

  @include govuk-media-query($from: tablet) {
    margin: 0;
    border-left: unset;
    border-bottom: 5px solid transparent;
  }

  &:has([aria-selected='true']) {
    border-color: currentColor;

    @include govuk-media-query($until: tablet) {
      font-weight: bold;
      margin-left: -15px;
      padding-left: 10px;
    }
  }
}

.navItemLink {
  display: inline-flex;
  text-decoration: none;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(3) govuk-spacing(1) govuk-spacing(2);
  }

  &:hover:not(:focus) {
    text-decoration: underline;
    color: $govuk-link-hover-colour;
  }

  &:visited:not(:focus) {
    color: $govuk-link-colour;
  }

  &:focus {
    color: $govuk-focus-text-colour;
  }
}
