## IDEs
.idea
.vs
.vscode

*.iml
*.ipr
*.iws

## Application
bin
obj
/data/
dfe-meta.db

## CSharp

*.sln.DotSettings.user

## Javascript

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Tests

junit.xml
**/test-results/
/tests/robot-tests/webdriver
/tests/robot-tests/.env.*
/tests/robot-tests/.pabotsuitenames

## Misc

*.~lock*
tags
*.pyc
*.tmp
