## IDEs
.idea
.vs
.vscode

*.code-workspace
*.iml
*.ipr
*.iws

## Application
bin
obj
/data/ees-mssql
dfe-meta.db

## CSharp

*.sln.DotSettings.user

## Javascript

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Tests

junit.xml
**/test-results/
/tests/robot-tests/webdriver
/tests/robot-tests/.env.*
/tests/robot-tests/.pabotsuitenames

## Data API Seed CSV data

src/GovUk.Education.ExploreEducationStatistics.Data.Seed/Files/

## Misc

*.~lock*
tags
*.pyc
*.tmp

lerna-debug.log
