engine-strict = true

# feature parity with npm
auto-install-peers=true

# create a flat, non-symlinked node_modules structure 
# (as the project doesn't play nice with symlinks). 
# see https://pnpm.io/feature-comparison for more info
shamefully-hoist=true

# exclude certain dependencies from hoisting due to 
# various projects needing them present in the relative 
# 'node_modules' directory in order to build properly.
hoist-pattern[]=!react/*
hoist-pattern[]=!react-dom/*
hoist-pattern[]=!formik/*
hoist-pattern[]=!axios/*
