engine-strict = true

# feature parity with npm
auto-install-peers=true

# create a flat, non-symlinked node_modules structure 
# (as the project doesn't play nice with symlinks). 
# see https://pnpm.io/feature-comparison for more info
shamefully-hoist=true

# exclude specific dependencies from hoisting as they need to be present
# for the project 'node_modules' directories in order to build properly.
hoist-pattern[]=!react/*
hoist-pattern[]=!react-dom/*
hoist-pattern[]=!formik/*
hoist-pattern[]=!applicationinsights/*
