.next/
build/
coverage/
node_modules/
*.min.css
*.min.js

# This file is massive and holds the formatter
src/explore-education-statistics-common/src/modules/charts/files/ukGeoJson.json
src/explore-education-statistics-frontend/src/html
