services:
  data-storage:
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0
    # --skipApiVersionCheck is necessary until Azurite supports the latest API version. See https://github.com/Azure/Azurite/issues/2623
    command: "azurite --blobHost 0.0.0.0 --tableHost 0.0.0.0 --queueHost 0.0.0.0 --skipApiVersionCheck"
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - data-storage-data:/data
  db:
    build:
      context: ./docker/mssql-server
    ports:
      - "1433:1433"
    volumes:
      - ./data/ees-mssql:/var/opt/mssql/data
      - ./data/sql-scripts:/scripts/
    environment:
      SA_PASSWORD: "Your_Password123"
      ACCEPT_EULA: "Y"
    command:
      - /bin/bash
      - -c
      - |
        # Launch MSSQL and send to background
        /opt/mssql/bin/sqlservr &
        # Wait 30 seconds for it to be available
        sleep 30

        # Run the setup script to create the two databases
        /opt/mssql-tools/bin/sqlcmd -U sa -P $$SA_PASSWORD -l 30 -e -i /scripts/setup-db.sql

        # So that the container doesn't shut down, sleep this thread
        sleep infinity
  idp:
    container_name: ees-idp
    build:
      context: ./docker/keycloak
    ports:
      - "5030:8080"
      - "5031:8443"

  public-api-db:
    image: postgres:16.1-alpine
    command: postgres -c max_prepared_transactions=100
    ports:
      - "5432:5432"
    volumes:
      - ./data/public-api-db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_DB: public_data
      POSTGRES_PASSWORD: password

  data-screener:
    build:
      context: ../ees-screener-api
    ports:
      - "7078:80"
    depends_on:
      - data-storage
    environment:
      - STORAGE_URL=http://data-storage:10000/devstoreaccount1
      - STORAGE_CONTAINER_NAME=releases-temp

volumes:
  data-storage-data:
