[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker = "==4.1.0"

[packages]
robotframework = "~=4.1.2"
robotframework-seleniumlibrary = "~=6.0.0"
requests = "~=2.27.1"
python-dotenv = "~=0.19.1"
robotframework-pabot = "~=2.1.0"
pyderman = "~=2.0.2"
pytz = "~=2021.3"
beautifulsoup4 = "~=4.10.0"
robotframework-tidy = "~=1.6.2"
slack-sdk = "~=3.11.2"
lxml = "~=4.6.5"
azure-storage-blob = "~=12.9.0"
autopep8 = "~=1.6.0"

[requires]
python_version = "3.8"
