[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker = "==4.1.0"
azure-storage-blob = "==2.1.0"

[packages]
robotframework-seleniumlibrary = "==4.4.0"
requests = "==2.21.0"
python-dotenv = "==0.13.0"
robotframework-pabot = "~=1.8"
pyderman = "~=2.0"
pytz = "~=2020.1"

[requires]
python_version = "3.8"
