[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
robotframework = "~=6.1.1"
robotframework-seleniumlibrary = "~=6.1.0"
selenium = "~=4.43.0"
robotframework-pythonlibcore = "==4.5.0"
trio = "~=0.33.0"
urllib3 = "~=2.6.3"
robotframework-requests = "~=0.9.7"
requests = "~=2.31.0"
python-dotenv = "~=1.0.0"
robotframework-pabot = "~=2.17.0"
pytz = "~=2023.3"
beautifulsoup4 = "~=4.12.2"
robotframework-tidy = "~=4.4.0"
slack-sdk = "~=3.21.3"
lxml = "~=6.1.2"
azure-storage-blob = "~=12.27.1"
scikit-image = "~=0.26.0"
imutils = "~=0.5.4"
opencv-python = "~=4.11.0.86"
numpy = "~=2.5.2"
flake8 = "~=6.1.0"
isort = "~=5.12.0"
black = "~=23.7.0"
cffi = "~=2.1.1"
webdriver-manager = "~=4.0.0"

[requires]
python_version = "3.14"

[dev-packages]
linkchecker = "~=10.6.0"
