@import '~explore-education-statistics-common/src/styles/govuk-base';

.figure {
  margin: 0;

  figcaption {
    padding-bottom: govuk-spacing(4);
  }
}

.container {
  max-height: 80vh;
  overflow: scroll;
  padding-right: govuk-spacing(4);
  position: relative;

  &:focus {
    outline: none;
  }
}

.headerTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 2;

  thead th {
    width: 100%;
    z-index: 3;
  }
}

.columnTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;

  th:last-child {
    padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
  }
}

.intersectionTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 4;
}
