@use '~govuk-frontend/dist/govuk/base' as *;

.item {
  display: flex;
  justify-content: space-between;
  gap: govuk-spacing(2);
  padding: govuk-spacing(1) govuk-spacing(2);
  border-left: 5px solid govuk-colour('green');
  font-weight: $govuk-font-weight-bold;
}
