@use '~govuk-frontend/dist/govuk/base' as *;

.container {
  padding: 70px govuk-spacing(6) govuk-spacing(6);
}

.header {
  background: govuk-colour('black', $variant: 'tint-95');
  border: $govuk-focus-width solid transparent;
  border-bottom: 1px solid $govuk-border-colour;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: govuk-spacing(3) govuk-spacing(6);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  :focus & {
    border: $govuk-focus-width solid $govuk-focus-colour;
    border-bottom: 0;
  }
}
