@import '~govuk-frontend/dist/govuk/base';

.button {
  align-items: center;
  background: govuk-colour('light-grey');
  border: 1px solid govuk-colour('mid-grey');
  border-radius: 6px;
  box-shadow: none;
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 5px 10px;
  text-align: left;
  @include govuk-font-size(19);

  &::before {
    margin-top: 1px;
    content: '×';
    padding-right: 5px;
    font-size: 22px;
  }

  &:focus {
    background: $govuk-focus-colour;
  }

  &:hover {
    outline: 1px $govuk-text-colour solid;
    outline-offset: 0;
    border-color: $govuk-text-colour;
    cursor: pointer;
  }
}

.filterType {
  margin-right: govuk-spacing(1);
}
