@use '~govuk-frontend/dist/govuk/base' as *;

.button {
  align-items: center;
  background: govuk-colour('black', $variant: 'tint-95');
  border: 1px solid govuk-colour('black', $variant: 'tint-80');
  border-radius: 6px;
  box-shadow: none;
  display: flex;
  line-height: 1;
  margin: 0;
  padding: 5px 10px;
  text-align: left;
  @include govuk-font-size(19);

  &::before {
    margin-top: 1px;
    content: '×';
    padding-right: 5px;
    font-size: 22px;
  }

  &:focus {
    background: govuk-functional-colour(focus);
  }

  &:hover {
    outline: 1px govuk-functional-colour(text) solid;
    outline-offset: 0;
    border-color: govuk-functional-colour(text);
    cursor: pointer;
  }
}

.filterType {
  margin-right: govuk-spacing(1);
}
