@import '../styles/all';

.hidden {
  @media print {
    display: none;
  }
}

.pageBreakBefore {
  break-before: always;
  page-break-before: always;
}

.unbreakable {
  break-inside: avoid;
  page-break-inside: avoid;
}

.dontBreakAfter {
  page-break-after: avoid;
}
