@import '~govuk-frontend/govuk/base';

.notice {
  background-color: govuk-colour('blue');
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(4);

  p {
    color: govuk-colour('white');
    font-size: 16px;
  }
}
