@media print {
  :global(.govuk-breadcrumbs) {
    display: none;
  }
  :global(.govuk-footer__inline-list) {
    display: none;
  }
}

.hidePrint {
  display: block;
  @media print {
    display: none;
  }
}
