{
  "GovUkNotify" : {
    "ApiKey": "change-me",
    "EmailTemplates": {
      "ReleaseAmendmentPublishedId": "change-me",
      "ReleaseAmendmentPublishedSupersededSubscribersId": "change-me",
      "ReleasePublishedId": "change-me",
      "ReleasePublishedSupersededSubscribersId": "change-me",
      "SubscriptionConfirmationId": "change-me",
      "SubscriptionVerificationId": "change-me",
      "ApiSubscriptionConfirmationId": "change-me",
      "ApiSubscriptionMinorDataSetVersionId": "change-me",
      "ApiSubscriptionMajorDataSetVersionId": "change-me",
      "ApiSubscriptionVerificationId": "change-me"
    }
  }
}
