@import '~govuk-frontend/govuk/base';

.container {
  background: govuk-colour('light-grey');
  margin-bottom: govuk-spacing(2);
  position: relative;
}

.comment {
  border: $govuk-border-width-form-element solid transparent;
  padding: govuk-spacing(2) govuk-spacing(2) 48px govuk-spacing(2);

  &.active {
    border-color: govuk-colour('orange');
  }

  &:focus {
    outline: $govuk-focus-colour solid $govuk-focus-width;
  }
}

.controls {
  bottom: 0;
  padding: 0 govuk-spacing(2) govuk-spacing(2) govuk-spacing(2);
  position: absolute;
}

.form {
  padding: govuk-spacing(2);
}
