@model CreatePublicationModel
@{
    ViewData["Title"] = "Send release notification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="govuk-heading-l">Send release notification</h1>


<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        This will email subscribers of the selected publication
    </strong>
</div>

<form asp-controller="Release" asp-action="Notify" method="post">


    <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
            Publication to be notified
        </label>
        <select class="govuk-select" asp-for="Id" asp-items="@(new SelectList(Model.Publications, "PublicationId", "Name"))" required="required">
            <option>Select publication</option>
        </select>
    </div>
    
    <p class="govuk-inset-text">Emails will only be sent to subscribers on the notify service whitelist</p>

    <button type="submit" class="govuk-button">
        Send notification
    </button>

</form>