@model PublicationViewModel
@{
    ViewData["Title"] = "Notification Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
        Notification sent
    </h1>
    <div class="govuk-panel__body">
        <strong>@Model.Name</strong>
        <br>@Model.PublicationId
    </div>
</div>
