// Override standard gds styling

.dfe-interactive-map {
  width: 100%;
}

.dfe-font-style-normal {
  font-style: normal;
}

.dfe-meta-content {
  .govuk-caption-m {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 0;
  }
}

.dfe-align--centre {
  text-align: center;
}

.dfe-align--left {
  text-align: left;
}

.dfe-align--right {
  text-align: right;
}

.dfe-align--comments {
  margin-right: 0;
}

.dfe-hide-comments {
  .dfe-comment-block {
    display: none;
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
h1.govuk-panel__title {
  color: govuk-colour('white');
}
// Admin navigation

.app-navigation {
  background: govuk-colour('light-grey');
  display: block;
  margin-bottom: 2rem;
}

.app-navigation__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-navigation__list li {
  margin-bottom: 0;
  padding: 1rem 0.5rem;
}

.app-navigation__list li a {
  font-weight: 700;
  padding: 1rem 1rem 0.7rem;
  text-decoration: none;
}

.app-navigation__list li a:hover {
  border-bottom: 0.3rem solid $govuk-link-hover-colour;
}

.app-navigation--current-page a:visited {
  border-bottom: 0.3rem solid $govuk-link-colour;
}

.app-navigation--current-page a {
  border-bottom: 0.3rem solid $govuk-link-colour;
}

.dfe-details-no-margin {
  details {
    margin-bottom: 0;
    padding: 0;
  }

  .govuk-details__summary {
    margin-bottom: 0;
  }
}

.dfe-filter-overflow {
  margin-left: -1rem;
  max-height: 600px;
  overflow-x: auto;
  padding-left: 1rem;
}

.dfe-summary-list__key--small {
  width: 15%;
}

.dfe-toggle-edit {
  background: $govuk-brand-colour;
  bottom: 0;
  left: 0;
  padding: 0 6px 6px;
  position: fixed;
  z-index: 10000;
}
.dfe-toggle-edit {
  .govuk-fieldset__legend {
    background: $govuk-brand-colour;
    color: govuk-colour('white');
    margin-bottom: 0;
    padding: 5px;
  }
  h1 {
    color: govuk-colour('white');
  }
  .govuk-radios {
    background: govuk-colour('white');
    min-height: 100px;
    padding: 6px 6px 0;
  }
}

.govuk-link.dfe-link--white {
  color: govuk-colour('white');
  &:hover {
    text-decoration: none;
  }
}

.dfe-header--white {
  color: govuk-colour('white') !important;
}

// Hide page status tag from admin pages
.dfe-page-editing,
.dfe-page-preview {
  .govuk-tag {
    display: none;
  }
}
