// stylelint-disable-next-line selector-no-qualifying-type, selector-class-pattern
div.ck.ck-editor__editable_inline {
  background-color: #eee;
}

.editable-content {
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;

  &:hover {
    background-color: #f8f8f8;

    // stylelint-disable-next-line max-nesting-depth
    .editable-button {
      display: none;
    }
  }

  .editable-button {
    background-color: #8f8;
    border: solid 1px #808080;
    display: block;
    padding: 0 4px;
    position: absolute;
    right: 0;
    top: -20px;
  }

  .unsaved {
    background-color: #f88;
  }
}

.editable-content-editing {
  .editable-button {
    border: 0;
    display: inline !important;
    margin: 6px;
    padding: 0;
    top: 0;
    z-index: 1000;
  }
}

.govuk-accordion__drag-icon {
  content: 'H';
  position: absolute;
  right: -38px;
  top: 20%;
  //width: 16px;
  //height: 16px;
  //margin-top: 0px;

  &::before {
    content: 'H';
    width: 100%;
  }
}

/*
.govuk-accordion__drag-icon:after,
.govuk-accordion__drag-icon:before {

  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 25%;
  margin: auto;
  border: 2px solid transparent;
  background-color: govuk-colour("black");
}


.govuk-accordion__drag-icon:after {
  height: 100%;
}*/

.drag-handle {
  height: 0;
  position: absolute;
  right: 0;

  &::before {
    color: #999;
    content: '\2630';
    font-size: 2.25rem;
    position: absolute;
    top: 10px;
    width: 2.25rem;
    z-index: 1000;
  }

  &.small::before {
    font-size: 1.125rem;
    left: -1.125rem;
    width: 1.125rem;
  }
}

.reorderable {
  font-size: 1rem;
  position: absolute;
  right: 0;
}

.reorderable-relative {
  position: relative;
}

.reorderable-absolute {
  position: absolute;
}
