// stylelint-disable-next-line selector-no-qualifying-type, selector-class-pattern
div.ck.ck-editor__editable_inline {
  background-color: #eee;
}

.govuk-accordion__drag-icon {
  content: 'H';
  position: absolute;
  right: -38px;
  top: 20%;
  //width: 16px;
  //height: 16px;
  //margin-top: 0px;

  &::before {
    content: 'H';
    width: 100%;
  }
}

.drag-handle {
  height: 0;
  position: absolute;
  right: 0;

  &::before {
    color: #999;
    content: '\2630';
    font-size: 2.25rem;
    position: absolute;
    top: 10px;
    width: 2.25rem;
    z-index: 1000;
  }

  &.small::before {
    font-size: 1.125rem;
    left: -1.125rem;
    width: 1.125rem;
  }
}

.reorderable {
  font-size: 1rem;
  position: absolute;
  right: 0;
}

.reorderable-absolute {
  position: absolute;
}

.reorderable-relative {
  display: none;
}

.page-editing .reorderable-relative {
  display: block;
  position: relative;
}
