@import '~govuk-frontend/govuk/base';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
}

@include govuk-media-query(
  $from: mobile,
  $until: tablet,
  $and: '(orientation: portrait)'
) {
  .grid {
    grid-template-columns: 1fr;
  }
}
