@import '~govuk-frontend/govuk/base';

.optionsContainer {
  @include govuk-media-query($from: desktop) {
    display: flex;
  }
}

.publicationsList {
  @include govuk-media-query($from: desktop) {
    border-left: 1px solid #ccc;
    margin-left: govuk-spacing(7);
    padding-left: govuk-spacing(7);
  }
}
