.app-table-container {
  margin-bottom: govuk-spacing(4);

  &:focus {
    box-shadow: 0 0 0 2px;
    outline: $govuk-focus-width solid $govuk-focus-colour;
    outline-offset: 4px;
  }

  @include govuk-media-query($until: desktop) {
    display: block;
    overflow-x: auto;
  }

  table {
    margin-bottom: 0;
  }
}

.app-parameter-table {
  hyphens: none;
  word-break: normal;

  &__description {
    min-width: 200px;
  }
}
