@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
        <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
            <li class="govuk-header__navigation-item">
                <a class="govuk-header__link" href="/documentation">Administrators' guide</a>
            </li>
            <li class="govuk-header__navigation-item">
                <a href="/identity/account/manage/" class="govuk-header__link">@User.Identity.Name</a>
            </li>
            <li class="govuk-header__navigation-item">
                <a href="/authentication/logout" class="govuk-header__link">Sign out</a>
            </li>
        </ul>
    </nav>
}