@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
<p class="govuk-body">Try again later.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}