{% extends "layout.html" %}

{% block pageTitle %}
Pupil absence in schools in England
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/step-by-step-navigation.js"></script>
<!-- Plotly -->
<script type="text/javascript" src="/public/javascripts/absence-and-exclusion/plotlyjs-bundle.js"></script>
<script type="text/javascript" src="/public/javascripts/absence-and-exclusion/national-figure.js"></script>
<script type="text/javascript" src="/public/javascripts/absence-and-exclusion/overall-figure.js"></script>
<script type="text/javascript" src="/public/javascripts/absence-and-exclusion/persistent-figure.js"></script>

<script type="text/javascript">
	var $element = $('#step-by-step-navigation')
	var stepByStepNavigation = new GOVUK.Modules.StepByStepNavigation()
	stepByStepNavigation.start($element)

</script>
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
	<ol class="govuk-breadcrumbs__list">
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">Pupil wellbeing, behaviour and attendance</a>
		</li>
		<li class="govuk-breadcrumbs__list-item">
			<a class="govuk-breadcrumbs__link" href="#">School attendance and absence</a>
		</li>
	</ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<strong class="govuk-tag">
			This is the latest data
		</strong>
		<h1 class="govuk-heading-l">
			Pupil absence data and statistics for schools in England
		</h1>
		<p> This service helps parents, specialists and the public find different kinds of pupil absence facts and figures for state-funded schools.</p>

		<p>It allows you to find out about, view and download overall, authorised and unauthorised absence data and statistics going back to 2006/07 on the following levels:</p>

		<ul class="govuk-list govuk-list--bullet">
			<li><a href="#check-youre-allowed-to-drive">for England as a whole</a></li>
			<li><a href="#get-a-provisional-licence">for individual local authorities</a></li>
			<li><a href="#driving-lessons-and-practice">by pupil characteristics - including by pupil age, ethnicity, gender and special educational need</a></li>
			<li><a href="#prepare-for-your-theory-test">by school type - including primary, secondary and special school and pupil referral unit information</a></li>
		</ul>

		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Further details
				</span>
			</summary>
			<div class="govuk-details__text">


				<p>To help you analyse and understand the data and statistics under the above each one is split into the following tabs:</p>

				<ul class="govuk-list govuk-list--bullet">
					<li>Summary - includes the latest headline statistical insights and breakdowns</li>
					<li>Further details - includes more detailed explanations, facts and figures </li>
					<li>Data and downloads - includes relevant data tables and download links to data files</li>
				</ul>

				<div class="govuk-inset-text">
					<a href="">Find out more about our pupil absence data and statistics methodology and terminology</a>
				</div>
			</div>
		</details>


		<!--<div class="govuk-tabs" data-module="tabs">

			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#intro-short">
						Summary
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#intro-long">
						Further details
					</a>
				</li>
			</ul>

			<section class="govuk-tabs__panel" id="intro-short">

			</section>
			<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="intro-long">


			</section>

		</div>-->

		<!--		List start point-->
		<div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
			<ol class="app-step-nav__steps">

				<li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
					<div class="app-step-nav__header js-toggle-panel headline-title" data-position="6">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title no-close">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6">
									<span class="js-step-title-text govuk-heading-m ">
										Headline pupil absence facts and figures for 2016/17
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>
					<ul class="govuk-list govuk-list--bullet">

						<li>
							Pupils missed on average 8.2 school days
						</li>
						<li>
							Overall and unauthorised absence rates up on previous year
						</li>
						<li>
							Unauthorised rise due to higher rates of unauthorised holidays
						</li>
						<li>
							10% of pupils persistently absent during 2016/17
						</li>
					</ul>

					<h3 class="govuk-heading-s">Chart showing the change in different types of absence over time</h3>

					<div id="da7c10ac-eab3-4a0d-b7ee-2dc75bf614ba" style="width: 600px; height: 350px;" class="plotly-graph-div"></div>

					<div class="dash-tiles simple">
						<h2 class="govuk-heading-l tile">
							<a href="#">
								<span class="govuk-caption-m date-range govuk-tag">2016/17</span>
								<span class="govuk-caption-m date-range help-icon" title="Explanation of this figure"><em>What does this mean</em>?</span>

								<span class="govuk-caption-l">Overall absence</span>
								<span class="trend-icon govuk-caption-increase-negative">4.7%</span>

								<span class="govuk-caption-m date-range trend"><strong class="increase bad">+0.4<abbr aria-label="Percentage points" title="Percentage points">ppt</abbr></strong> more than 2015/16 </span>
							</a>
						</h2>

						<h2 class="govuk-heading-l tile">
							<a href="#">
								<span class="govuk-caption-m date-range govuk-tag">2016/17</span>
								<span class="govuk-caption-m date-range help-icon" title="Explanation of this figure"><em>What does this mean</em>?</span>

								<span class="govuk-caption-l">Authorised absence</span>
								<span class="trend-icon govuk-caption-static">3.4%</span>

								<span class="govuk-caption-m date-range trend"><strong class="level">0<abbr aria-label="Percentage points" title="Percentage points">ppt</abbr></strong> The same as 2015/16</span>
							</a>
						</h2>

						<h2 class="govuk-heading-l tile">
							<a href="#">
								<span class="govuk-caption-m date-range govuk-tag">2016/17</span>
								<span class="govuk-caption-m date-range help-icon" title="Explanation of this figure"><em>What does this mean</em>?</span>

								<span class="govuk-caption-l">Unauthorised absence</span>
								<span class="trend-icon govuk-caption-increase-negative">1.3%</span>

								<span class="govuk-caption-m date-range trend"><strong class="increase bad">+0.2<abbr aria-label="Percentage points" title="Percentage points">ppt</abbr></strong> more than 2015/16 </span>
							</a>
						</h2>


						<h2 class="govuk-heading-l tile">
							<a href="#">
								<span class="govuk-caption-m date-range govuk-tag">2016/17</span>
								<span class="govuk-caption-m date-range help-icon" title="Explanation of this figure"><em>What does this mean</em>?</span>
								<span class="govuk-caption-l">Persistent absence</span>
								<span class="trend-icon govuk-caption-increase-negative">10.8%</span>

								<span class="govuk-caption-m date-range trend"><strong class="increase bad">+0.3<abbr aria-label="Percentage points" title="Percentage points">ppt</abbr></strong> more than 2015/16 </span>
							</a>
						</h2>
					</div>


				</li>
				<li class="app-step-nav__step js-step step-is-shown" id="check-youre-allowed-to-drive">
					<div class="app-step-nav__header js-toggle-panel" data-position="1">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="true" aria-controls="step-panel-check-youre-allowed-to-drive-1">
									<span class="js-step-title-text">
										Get pupil absence data and statistics on a national level
										<span class="govuk-caption-m">
											Find out the main absence facts and figures for state-funded primary and secondary schools across England as a whole.
										</span>
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>





					<div class="app-step-nav__panel js-panel" id="step-panel-check-youre-allowed-to-drive-1">
						<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
						<p>You’ll find the following information and graphs for England going back as far as 2006/07 within this section</p>


						<ul class="govuk-list govuk-list--bullet">
							<li><a href="#overall-absence">overall, authorised and unauthorised national-level pupil absence rates</a></li>
							<li><a href="#persistent-absence">overall national-level absence rates - including those for all schools and broken down by primary, secondary and special school</a></li>
							<li><a href="">persistent national-level absence rates - including those for all schools and broken down by primary, secondary and special school</a></li>
						</ul>

						<details class="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									Further details
								</span>
							</summary>
							<div class="govuk-details__text">


								<p>To help you analyse and understand the data and statistics under the above each one is split into the following tabs:</p>

								<ul class="govuk-list govuk-list--bullet">
									<li>Summary - includes the latest headline statistical insights and breakdowns</li>
									<li>Further details - includes more detailed explanations, facts and figures </li>
									<li>Data and downloads - includes relevant data tables and download links to data files</li>
								</ul>


								<div class="govuk-inset-text">
									<a href="">Find out more about our pupil absence data and statistics methodology and terminology</a>
								</div>
							</div>
						</details>


						<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
						<h2 class="govuk-heading-m" id="overall-absence">Overall absence</h2>
						<details class="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									Overall absence rate definition
								</span>
							</summary>
							<div class="govuk-details__text">
								The overall absence rate is the total number of overall absence sessions for all pupils as a percentage of the total number of possible sessions for all pupils, where overall absence is the sum of authorised and unauthorised absence and one session is equal to half a day.
							</div>
						</details>



						<div class="govuk-tabs" data-module="tabs">

							<ul class="govuk-tabs__list">
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#overall-short">
										Summary
									</a>
								</li>
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#overall-long">
										Further details
									</a>
								</li>

								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#overall-data">
										Data tables
									</a>
								</li>

								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#overall-download">
										Data downloads
									</a>
								</li>
							</ul>
							<div id="8c843b8c-4ee3-4936-9744-66b739909982" style="width: 600px; height: 350px;" class="plotly-graph-div"></div>
							<section class="govuk-tabs__panel" id="overall-short">

								<h3 class="govuk-heading-s">Overall absence headlines 2016/17</h3>



								<ul class="govuk-list govuk-list--bullet">
									<li>Rate across primary, secondary and special schools <strong>up to 4.7%</strong> from 4.6% for 2015/16 </li>
									<li>Rate for primary schools <strong>stable at 4% </strong></li>
									<li class="govuk-tabs__list-item">Rate for secondary schools <strong>up to 5.4%</strong> from 5.2% for 2015/16</li>
									<li>Rate for special schools <strong>much higher at 9.7%</strong></li>
								</ul>

							</section>
							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overall-long">

								<p>The increase in overall absence rate has been driven by an increase in the unauthorised absence rate
									across state-funded primary, secondary and special schools - which increased from 1.1 per cent to 1.3 per
									cent between 2015/16 and 2016/17.</p>

								<p>Looking at longer-term trends, overall and authorised absence rates have been fairly stable over recent
									years after decreasing gradually between 2006/07 and 2013/14. Unauthorised absence rates have not
									varied much since 2006/07, however the unauthorised absence rate is now at its highest since records
									began, at 1.3 per cent.</p>

								<p>This increase in unauthorised absence is due to an increase in absence due to family holidays that were
									not agreed by the school. The authorised absence rate has not changed since last year, at 3.4 per cent.
									Though in primary schools authorised absence rates have been decreasing across recent years.</p>
								<p>The total number of days missed due to overall absence across state-funded primary, secondary and
									special schools has increased since last year, from 54.8 million in 2015/16 to 56.7 million in 2016/17. This
									partly reflects the rise in the total number of pupil enrolments, the average number of days missed per
									enrolment has increased very slightly from 8.1 days in 2015/16 to 8.2 days in 2016/17.</p>
								<p>In 2016/17, 91.8 per cent of pupils in state-funded primary, state-funded secondary and special schools
									missed at least one session during the school year, this is similar to the previous year (91.7 per cent in
									2015/16).</p>


							</section>

							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overall-data">

								<h2 class="govuk-heading-m">Overall absence data</h2>


								<table class="govuk-table">
									<thead class="govuk-table__head">
										<tr class="tableizer-firstrow">
											<th></th>
											<th>2012/13</th>
											<th>2013/14</th>
											<th>2014/15</th>
											<th>2015/16</th>
											<th>2016/17</th>
										</tr>
									</thead>

									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Number of schools</th>
											<td class="govuk-table__cell">21,130</td>
											<td class="govuk-table__cell">21,151</td>
											<td class="govuk-table__cell">21,178</td>
											<td class="govuk-table__cell">21,163</td>
											<td class="govuk-table__cell"> 21,247 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Number of pupil enrolments</th>
											<td class="govuk-table__cell">6,477,725</td>
											<td class="govuk-table__cell">6,554,005</td>
											<td class="govuk-table__cell">6,642,755</td>
											<td class="govuk-table__cell">6,737,190</td>
											<td class="govuk-table__cell"> 6,899,770 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" colspan="6">Percentage of sessions missed due to:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">5.3</td>
											<td class="govuk-table__cell">4.5</td>
											<td class="govuk-table__cell">4.6</td>
											<td class="govuk-table__cell">4.6</td>
											<td class="govuk-table__cell">4.7</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">4.2</td>
											<td class="govuk-table__cell">3.5</td>
											<td class="govuk-table__cell">3.5</td>
											<td class="govuk-table__cell">3.4</td>
											<td class="govuk-table__cell">3.4</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">1.1</td>
											<td class="govuk-table__cell">1.1</td>
											<td class="govuk-table__cell">1.1</td>
											<td class="govuk-table__cell">1.1</td>
											<td class="govuk-table__cell">1.3</td>
										</tr>
									</tbody>
								</table>



							</section>

							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="overall-download">

								<h2 class="govuk-heading-s">Download overall absence data files</h2>

								<ul class="govuk-list">
									<li>
										<a class="govuk-link" href="#">Excel table</a>
									</li>
									<li>
										<a class="govuk-link" href="#">csv</a>
									</li>
									<li>
										<a class="govuk-link" href="#">json</a>
									</li>
									<li>
										<a class="govuk-link" href="#">API</a>
									</li>
								</ul>

							</section>
						</div>


						<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


						<h2 class="govuk-heading-m" id="persistent-absence">Persistent absence</h2>

						<details class="govuk-details">
							<summary class="govuk-details__summary">
								<span class="govuk-details__summary-text">
									Persistent absence rate definition
								</span>
							</summary>
							<div class="govuk-details__text">
								A pupil enrolment is identified as a persistent absentee if they miss 10% or more of their possible sessions.
								<br><br>
								Persistent absence rate =<br>
								(Number of enrolments classed as persistent absentees/Number of enrolments) × 100
								<br><br>
								The persistent absentee measure changed as of the start of the 2015/16 academic year. Time series data in this
								release has been recalculated using the new methodology but caution should be used when interpreting these series
								as they may be impacted by the change in the measure itself. For more information on this and on the methodologies
								used in previous years, please see the "guide to absence statistics".

							</div>
						</details>


						<div id="c6a3e1ef-d491-4c64-8096-cdec12565a75" style="width: 600px; height: 350px;" class="plotly-graph-div"></div>
						<div class="govuk-tabs" data-module="tabs">


							<ul class="govuk-tabs__list">
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#persistent-short">
										Summary
									</a>
								</li>
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#persistent-long">
										Further details
									</a>
								</li>

								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#persistent-data">
										Data tables
									</a>
								</li>

								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#persistent-download">Data downloads</a>
								</li>
							</ul>

							<section class="govuk-tabs__panel" id="persistent-short">
								<ul class="govuk-list govuk-list--bullet">
									<li>Rate for primary and secondary schools <strong>up to 10.8%</strong> from 10.5% for 2015/16</li>
								</ul>


							</section>
							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="persistent-long">

								<p>In 2016/17, persistent absentees accounted for 37.6 per cent of all absence compared to 36.6 per cent in
									2015/16. Longer term, there has been a decrease in the proportion of absence that persistent absentees
									account for – down from 43.3 per cent in 2011/12.</p>
								<p>The overall absence rate for persistent absentees across all schools was 18.1 per cent, nearly four times
									higher than the rate for all pupils. This is a slight increase from 2015/16, when the overall absence rate for
									persistent absentees was 17.6 per cent.</p>
								<p>Persistent absentees account for almost a third, 31.6 per cent, of all authorised absence and more than
									half, 53.8 per cent of all unauthorised absence. The rate of illness absences is almost four times higher for
									persistent absentees compared to other pupils, at 7.6 per cent and 2.0 per cent respectively.</p>


							</section>
							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="persistent-data">
								<h2 class="govuk-heading-s">Persistent absence data</h2>

								<table class="govuk-table">
									<thead class="govuk-table__head">
										<tr class="tableizer-firstrow">
											<th class="govuk-table__header"></th>
											<th class="govuk-table__header">2012/13</th>
											<th class="govuk-table__header">2013/14</th>
											<th class="govuk-table__header">2014/15</th>
											<th class="govuk-table__header">2015/16</th>
											<th class="govuk-table__header">2016/17</th>
										</tr>
									</thead>
									<tbody class="govuk-table__body">
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">State-funded primary, secondary and special schools</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Number of schools</th>
											<td class="govuk-table__cell">21,130</td>
											<td class="govuk-table__cell">21,151</td>
											<td class="govuk-table__cell">21,178</td>
											<td class="govuk-table__cell">21,163</td>
											<td class="govuk-table__cell"> 21,247 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Total no. enrolments</th>
											<td class="govuk-table__cell">6,477,725</td>
											<td class="govuk-table__cell">6,554,005</td>
											<td class="govuk-table__cell">6,642,755</td>
											<td class="govuk-table__cell">6,737,190</td>
											<td class="govuk-table__cell">6,899,770</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. persistent absentees</th>
											<td class="govuk-table__cell">883,315</td>
											<td class="govuk-table__cell">699,560</td>
											<td class="govuk-table__cell">728,080</td>
											<td class="govuk-table__cell">707,390</td>
											<td class="govuk-table__cell">744,275</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">% persistent absentees</th>
											<td class="govuk-table__cell">13.6</td>
											<td class="govuk-table__cell">10.7</td>
											<td class="govuk-table__cell">11.0</td>
											<td class="govuk-table__cell">10.5</td>
											<td class="govuk-table__cell">10.8</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% sessions missed by persistent absentees due:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">16.9</td>
											<td class="govuk-table__cell">17.4</td>
											<td class="govuk-table__cell">17.3</td>
											<td class="govuk-table__cell">17.6</td>
											<td class="govuk-table__cell">18.1</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">11.6</td>
											<td class="govuk-table__cell">11.3</td>
											<td class="govuk-table__cell">11.3</td>
											<td class="govuk-table__cell">11.2</td>
											<td class="govuk-table__cell">11.1</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">5.3</td>
											<td class="govuk-table__cell">6.0</td>
											<td class="govuk-table__cell">6.0</td>
											<td class="govuk-table__cell">6.4</td>
											<td class="govuk-table__cell">7.00</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% absence for which persistent absentees are responsible:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">40.5</td>
											<td class="govuk-table__cell">37.2</td>
											<td class="govuk-table__cell">37.4</td>
											<td class="govuk-table__cell">36.6</td>
											<td class="govuk-table__cell">37.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">35.0</td>
											<td class="govuk-table__cell">31.7</td>
											<td class="govuk-table__cell">31.9</td>
											<td class="govuk-table__cell">30.9</td>
											<td class="govuk-table__cell">31.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">62.6</td>
											<td class="govuk-table__cell">55.2</td>
											<td class="govuk-table__cell">55.7</td>
											<td class="govuk-table__cell">53.8</td>
											<td class="govuk-table__cell">53.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">State-funded primary schools</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. schools</th>
											<td class="govuk-table__cell">16,855</td>
											<td class="govuk-table__cell">16,826</td>
											<td class="govuk-table__cell">16,791</td>
											<td class="govuk-table__cell">16,783</td>
											<td class="govuk-table__cell"> 16,820 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. pupil enrolments</th>
											<td class="govuk-table__cell">3,546,450</td>
											<td class="govuk-table__cell">3,658,325</td>
											<td class="govuk-table__cell">3,734,735</td>
											<td class="govuk-table__cell">3,818,440</td>
											<td class="govuk-table__cell">3,909,500</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. persistent absentees</th>
											<td class="govuk-table__cell">388,450</td>
											<td class="govuk-table__cell">294,670</td>
											<td class="govuk-table__cell">314,440</td>
											<td class="govuk-table__cell">314,625</td>
											<td class="govuk-table__cell">325,230</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">% persistent absentees</th>
											<td class="govuk-table__cell">11.0</td>
											<td class="govuk-table__cell">8.1</td>
											<td class="govuk-table__cell">8.4</td>
											<td class="govuk-table__cell">8.2</td>
											<td class="govuk-table__cell">8.3</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% sessions missed by persistent absentees due to:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">>Overall absence</th>
											<td class="govuk-table__cell">15.0</td>
											<td class="govuk-table__cell">15.2</td>
											<td class="govuk-table__cell">15.2</td>
											<td class="govuk-table__cell">15.3</td>
											<td class="govuk-table__cell">15.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">11.0</td>
											<td class="govuk-table__cell">10.4</td>
											<td class="govuk-table__cell">10.4</td>
											<td class="govuk-table__cell">10.2</td>
											<td class="govuk-table__cell">9.9</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">4.0</td>
											<td class="govuk-table__cell">4.8</td>
											<td class="govuk-table__cell">4.8</td>
											<td class="govuk-table__cell">5.1</td>
											<td class="govuk-table__cell">5.7</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% absence for which persistent absentees are responsible:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">31.9</td>
											<td class="govuk-table__cell">27.8</td>
											<td class="govuk-table__cell">28.5</td>
											<td class="govuk-table__cell">28.0</td>
											<td class="govuk-table__cell">28.5</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">28.3</td>
											<td class="govuk-table__cell">24.4</td>
											<td class="govuk-table__cell">25.0</td>
											<td class="govuk-table__cell">24.4</td>
											<td class="govuk-table__cell">24.5</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">49.4</td>
											<td class="govuk-table__cell">40.1</td>
											<td class="govuk-table__cell">41.2</td>
											<td class="govuk-table__cell">40.0</td>
											<td class="govuk-table__cell">39.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">State-funded secondary schools</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. schools</th>
											<td class="govuk-table__cell">3,283</td>
											<td class="govuk-table__cell">3,329</td>
											<td class="govuk-table__cell">3,382</td>
											<td class="govuk-table__cell">3,383</td>
											<td class="govuk-table__cell"> 3,409 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. pupil enrolments</th>
											<td class="govuk-table__cell">2,851,425</td>
											<td class="govuk-table__cell">2,813,680</td>
											<td class="govuk-table__cell">2,822,655</td>
											<td class="govuk-table__cell">2,834,785</td>
											<td class="govuk-table__cell">2,895,975</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. persistent absentees</th>
											<td class="govuk-table__cell">471,370</td>
											<td class="govuk-table__cell">383,200</td>
											<td class="govuk-table__cell">390,185</td>
											<td class="govuk-table__cell">370,140</td>
											<td class="govuk-table__cell">392,200</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">% persistent absentees</th>
											<td class="govuk-table__cell">16.5</td>
											<td class="govuk-table__cell">13.6</td>
											<td class="govuk-table__cell">13.8</td>
											<td class="govuk-table__cell">13.1</td>
											<td class="govuk-table__cell">13.5</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% sessions missed by persistent absentees due to:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">18.2</td>
											<td class="govuk-table__cell">18.6</td>
											<td class="govuk-table__cell">18.6</td>
											<td class="govuk-table__cell">19.2</td>
											<td class="govuk-table__cell">19.7</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">11.9</td>
											<td class="govuk-table__cell">11.7</td>
											<td class="govuk-table__cell">11.6</td>
											<td class="govuk-table__cell">11.6</td>
											<td class="govuk-table__cell">11.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">6.3</td>
											<td class="govuk-table__cell">7.0</td>
											<td class="govuk-table__cell">7.0</td>
											<td class="govuk-table__cell">7.6</td>
											<td class="govuk-table__cell">8.1</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% absence for which persistent absentees are responsible:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">48.0</td>
											<td class="govuk-table__cell">45.0</td>
											<td class="govuk-table__cell">44.9</td>
											<td class="govuk-table__cell">44.1</td>
											<td class="govuk-table__cell">45.2</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">40.9</td>
											<td class="govuk-table__cell">37.6</td>
											<td class="govuk-table__cell">37.4</td>
											<td class="govuk-table__cell">36.3</td>
											<td class="govuk-table__cell">37.1</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">71.3</td>
											<td class="govuk-table__cell">67.0</td>
											<td class="govuk-table__cell">67.5</td>
											<td class="govuk-table__cell">65.6</td>
											<td class="govuk-table__cell">65.8</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">Special schools</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Number of schools</th>
											<td class="govuk-table__cell">992</td>
											<td class="govuk-table__cell">996</td>
											<td class="govuk-table__cell">1,005</td>
											<td class="govuk-table__cell">997</td>
											<td class="govuk-table__cell"> 1,018 </td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. pupil enrolments</th>
											<td class="govuk-table__cell">79,855</td>
											<td class="govuk-table__cell">82,000</td>
											<td class="govuk-table__cell">85,370</td>
											<td class="govuk-table__cell">83,965</td>
											<td class="govuk-table__cell">94,295</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">No. persistent absentees</th>
											<td class="govuk-table__cell">23,490</td>
											<td class="govuk-table__cell">21,690</td>
											<td class="govuk-table__cell">23,460</td>
											<td class="govuk-table__cell">22,625</td>
											<td class="govuk-table__cell">26,850</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">% persistent absentees</th>
											<td class="govuk-table__cell">29.4</td>
											<td class="govuk-table__cell">26.5</td>
											<td class="govuk-table__cell">27.5</td>
											<td class="govuk-table__cell">26.9</td>
											<td class="govuk-table__cell">28.5</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% sessions missed by persistent absentees due to:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">23.5</td>
											<td class="govuk-table__cell">24.2</td>
											<td class="govuk-table__cell">24.7</td>
											<td class="govuk-table__cell">24.0</td>
											<td class="govuk-table__cell">25.3</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">17.4</td>
											<td class="govuk-table__cell">17.9</td>
											<td class="govuk-table__cell">18.6</td>
											<td class="govuk-table__cell">18.5</td>
											<td class="govuk-table__cell">18.7</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">6.1</td>
											<td class="govuk-table__cell">6.3</td>
											<td class="govuk-table__cell">6.2</td>
											<td class="govuk-table__cell">5.5</td>
											<td class="govuk-table__cell">6.6</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row" colspan="6">% absence for which persistent absentees are responsible:</th>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Overall absence</th>
											<td class="govuk-table__cell">69.5</td>
											<td class="govuk-table__cell">68.3</td>
											<td class="govuk-table__cell">69.3</td>
											<td class="govuk-table__cell">68.1</td>
											<td class="govuk-table__cell">70.4</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Authorised absence</th>
											<td class="govuk-table__cell">64.6</td>
											<td class="govuk-table__cell">63.6</td>
											<td class="govuk-table__cell">65.0</td>
											<td class="govuk-table__cell">64.4</td>
											<td class="govuk-table__cell">66.1</td>
										</tr>
										<tr class="govuk-table__row">
											<th class="govuk-table__header" scope="row">Unauthorised absence</th>
											<td class="govuk-table__cell">88.8</td>
											<td class="govuk-table__cell">86.1</td>
											<td class="govuk-table__cell">86.2</td>
											<td class="govuk-table__cell">84.6</td>
											<td class="govuk-table__cell">86.3</td>
										</tr>
									</tbody>
								</table>

							</section>
							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="persistent-download">
								<h2 class="govuk-heading-s">Access persistent absence data</h2>

								<ul class="govuk-list">
									<li>
										<a class="govuk-link" href="#">Excel table</a>
									</li>
									<li>
										<a class="govuk-link" href="#">csv</a>
									</li>
									<li>
										<a class="govuk-link" href="#">json</a>
									</li>
									<li>
										<a class="govuk-link" href="#">API</a>
									</li>
								</ul>

							</section>
						</div>


					</div>

				</li>

				<li class="app-step-nav__step js-step" id="get-a-provisional-licence">
					<div class="app-step-nav__header js-toggle-panel" data-position="2">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-get-a-provisional-licence-2">
									<span class="js-step-title-text">
										Local Authorities
										<span class="govuk-caption-m">
											Find absence facts and figures for an individual LA or compare rates between LAs
										</span>
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>

					<div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-a-provisional-licence-2">

						<div class="govuk-tabs" data-module="tabs">


							<ul class="govuk-tabs__list">
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#la-map">
										Map
									</a>
								</li>
								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#la-find">
										Find an LA
									</a>
								</li>

								<li class="govuk-tabs__list-item">
									<a class="govuk-tabs__tab" href="#la-download">
										LA data downloads
									</a>
								</li>
							</ul>

							<section class="govuk-tabs__panel" id="la-map">
								<a href="https://app.moqups.com/mcleggsmith@hiveit.co.uk/PdwqXMRTcv/view/page/ab6f1a53c"><img src="/public/images/absence-and-exclusion/map_overall_absence_rates.png" width="540px"></a>


							</section>

							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="la-find">
								<div class="govuk-form-group">
									<label class="govuk-label" for="sort">
										Choose a Local Authority
									</label>
									<select class="govuk-select" id="sort" name="sort">
										<option value="S12000006">Allerdale</option>
										<option value="S12000008">Amber Valley</option>
										<option value="E06000002">Angus</option>
										<option value="S12000010">Ards and North Down</option>
										<option value="E07000214">Harrow</option>
										<option value="W06000015">Hart</option>
										<option value="E06000044">Hartlepool</option>
										<option value="E07000215">Hastings</option>
										<option value="W06000016">Havant</option>
										<option value="E08000005">Mid Suffolk</option>
										<option value="E08000006">Mid Sussex</option>
										<option value="E08000007">Mid Ulster</option>
										<option value="E08000008">Middlesbrough</option>
										<option value="E07000110">Salford</option>
										<option value="E09000015">Sandwell</option>
										<option value="E07000111">Scarborough</option>
										<option value="E07000112">Sedgemoor</option>
										<option value="E09000017">Sefton</option>
										<option value="E07000113">Selby</option>
										<option value="E09000018">Sevenoaks</option>
										<option value="E07000114">Sheffield</option>
										<option value="E09000019">Shepway</option>
										<option value="E07000116">Shropshire</option>
										<option value="E07000163">Wakefield</option>
										<option value="E07000164">Walsall</option>
										<option value="E07000165">Waltham Forest</option>
										<option value="E07000166">Wandsworth</option>
										<option value="E07000206">York</option>
									</select>

									<button type="submit" class="govuk-button">
										Choose
									</button>

									<p>Or</p>

									<label class="govuk-label" for="town">
										Enter postcode, town or city
									</label>
									<input class="govuk-input" id="town" name="town" type="text" style="width: 35%;">

									<button type="submit" class="govuk-button">
										Search
									</button>
								</div>

							</section>

							<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="la-download">

								<h2 class="govuk-heading-s">Download Local Authority data files</h2>

								<ul class="govuk-list">
									<li>
										<a class="govuk-link" href="#">Excel table</a>
									</li>
									<li>
										<a class="govuk-link" href="#">csv</a>
									</li>
									<li>
										<a class="govuk-link" href="#">json</a>
									</li>
									<li>
										<a class="govuk-link" href="#">API</a>
									</li>
								</ul>
							</section>

						</div>
					</div>

				</li>

				<li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
					<div class="app-step-nav__header js-toggle-panel" data-position="3">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3">
									<span class="js-step-title-text">
										Pupil characteristics
										<span class="govuk-caption-m">
											Figures for age, gender, ethnicity, and more
										</span>
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>

					<div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">

						<p>This section is not yet complete</p>
					</div>

				</li>

				<li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
					<div class="app-step-nav__header js-toggle-panel" data-position="4">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-prepare-for-your-theory-test-4">
									<span class="js-step-title-text">
										Types of school
										<span class="govuk-caption-m">
											Figures for different types of state school
										</span>
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>

					<div class="app-step-nav__panel js-panel js-hidden" id="step-panel-prepare-for-your-theory-test-4">
						<p>This section is not yet complete</p>

					</div>

				</li>

				<li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
					<div class="app-step-nav__header js-toggle-panel" data-position="5">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-theory-test-5">
									<span class="js-step-title-text">
										Where does this data come from?
										<span class="govuk-caption-m">
											How we collect and process the data
										</span>
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>

					<div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-theory-test-5">
						<ul class="govuk-list">
							<li><a href="#" class="govuk-link">How do we collect it?</a></li>
							<li><a href="#" class="govuk-link">What do we do with it?</a></li>
							<li><a href="#" class="govuk-link">Related policies</a></li>
						</ul>
					</div>

				</li>

				<li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
					<div class="app-step-nav__header js-toggle-panel" data-position="6">
						<h2 class="app-step-nav__title">
							<span class="app-step-nav__circle app-step-nav__circle--number">
								<span class="app-step-nav__circle-inner">
									<span class="app-step-nav__circle-background">
										<span class="govuk-visually-hidden">Step</span>
									</span>
								</span>
							</span>

							<span class="js-step-title">
								<button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-book-and-manage-your-driving-test-6">
									<span class="js-step-title-text">
										Feedback and questions
									</span>
									<span class="app-step-nav__toggle-link js-toggle-link" aria-hidden="true">Show</span>
								</button>
							</span>
						</h2>
					</div>

					<div class="app-step-nav__panel js-panel js-hidden" id="step-panel-book-and-manage-your-driving-test-6">
						<ul class="govuk-list">
							<li><a href="#" class="govuk-link">Feedback on this page</a></li>
							<li><a href="#" class="govuk-link">Make a suggestion</a></li>
							<li><a href="#" class="govuk-link">Ask a question</a></li>
						</ul>
					</div>

				</li>


			</ol>
		</div>

	</div>
	<div class="govuk-grid-column-one-third">
		<aside class="app-related-items">
			<h2 class="govuk-heading-m" id="subsection-title">
				About this data
			</h2>


			<h2 class="govuk-heading-s"><span class="govuk-caption-m">For school year: </span>2016-2017 <span class="govuk-caption-m govuk-caption-inline">(latest data)</span><span class="govuk-caption-m"><a href="#">See previous 10 years</a></span></h2>

			<h2 class="govuk-heading-s"><span class="govuk-caption-m">Published: </span>22 March 2018 </h2>
			<h2 class="govuk-heading-s"><span class="govuk-caption-m">Last updated: </span>20 June 2018<span class="govuk-caption-m"><a href="#">See all 4 updates</a></span></h2>
			<h2 class="govuk-heading-s"><span class="govuk-caption-m">Next update: </span>22 March 2019<span class="govuk-caption-m"><a href="#">Notify me</a></span></h2>

			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			<h2 class="govuk-heading-m" id="subsection-title">
				Getting the data
			</h2>

			<ul class="govuk-list">
				<li><a href="#" class="govuk-link">View by graphs and charts</a></li>
				<li><a href="#" class="govuk-link">View by tables and numbers</a></li>
				<li><a href="#" class="govuk-link">Create your own tables and charts</a></li>
				<li><a href="#" class="govuk-link">Download pdf files</a></li>
				<li><a href="#" class="govuk-link">Download Excel files</a></li>
				<li><a href="#" class="govuk-link">Download .csv files</a></li>
				<li><a href="#" class="govuk-link">Access API</a></li>
			</ul>





		</aside>
	</div>

</div>

{% endblock %}
