<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="900" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="True">
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <applicationInitialization>
      <add initializationPage="/"/>
      <add initializationPage="/tools"/>
    </applicationInitialization>
  </system.webServer>
</configuration>