<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
     <httpRuntime maxRequestLength="104857600" executionTimeout="240" /> 
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="True">
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>

    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/api/health" />
    </applicationInitialization>
    <rewrite>
      <rules>
        <rule name="Redirect azure to govuk - dev" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="s101d01-as-ees-admin.azurewebsites.net" />
          </conditions>
          <action type="Redirect" url="https://admin.dev.explore-education-statistics.service.gov.uk/{R:0}" />
        </rule>
        <rule name="Redirect hive to govuk  - dev" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="admin.dev.ees.hiveit.cloud" />
          </conditions>
          <action type="Redirect" url="https://admin.dev.explore-education-statistics.service.gov.uk/{R:0}" />
        </rule>
        <rule name="Redirect azure to govuk - test" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="s101t01-as-ees-admin.azurewebsites.net" />
          </conditions>
          <action type="Redirect" url="https://admin.test.explore-education-statistics.service.gov.uk/{R:0}" />
        </rule>
        <rule name="Redirect hive to govuk  - test" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="admin.test.ees.hiveit.cloud" />
          </conditions>
          <action type="Redirect" url="https://admin.test.explore-education-statistics.service.gov.uk/{R:0}" />
        </rule>

        <rule name="Redirect azure to admin.ees.hiveit.cloud" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="s101p02-as-ees-admin.azurewebsites.net" />
          </conditions>
          <action type="Redirect" url="https://admin.test.ees.hiveit.cloud/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
