// Override standard gds styling

.dfe-align--left-hand-controls {
  margin-right: 0;
}

.dfe-hide-controls {
  .dfe-comment-block {
    display: none;
  }
}

// stylelint-disable-next-line selector-no-qualifying-type
h1.govuk-panel__title {
  color: govuk-colour('white');
}
// Admin navigation

.app-navigation--current-page a:visited {
  border-bottom: 0.3rem solid $govuk-link-colour;
}

.app-navigation--current-page a {
  border-bottom: 0.3rem solid $govuk-link-colour;
}

.dfe-details-no-margin {
  details {
    margin-bottom: 0;
    padding: 0;
  }

  .govuk-details__summary {
    margin-bottom: 0;
  }
}

.dfe-filter-overflow {
  margin-left: -1rem;
  max-height: 600px;
  overflow-x: auto;
  padding-left: 1rem;
}

.dfe-summary-list__key--small {
  width: 15%;
}

.govuk-link.dfe-link--white {
  color: govuk-colour('white');
  &:hover {
    text-decoration: none;
  }
}

// Hide page status tag from admin pages
.dfe-page-editing,
.dfe-page-preview {
  .govuk-tag {
    display: none;
  }
}

.dfe-multiline-content {
  white-space: pre-line;
}

.govuk-details .govuk-tag {
  font-size: 0.8rem;
}
