{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "debug": true,
        "targets": {
          "browsers": [
            "ie>=11",
            "safari>=12",
            "ios>=9.3",
            "last 1 version"
          ]
        }
      }
    ]
  ]
}
