@use '~govuk-frontend/dist/govuk/base' as *;

.previewPlaceholder {
  align-items: center;
  background-color: govuk-colour('black', $variant: 'tint-95');
  display: flex;
  font-size: 1.5rem;
  font-weight: $govuk-font-weight-bold;
  height: 300px;
  justify-content: center;
}
