@import '~govuk-frontend/govuk/base';

.formSelectRow {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.formSelectGroup {
  flex-basis: calc(33% - #{govuk-spacing(2)});
  margin-bottom: govuk-spacing(4);
  margin-right: govuk-spacing(2);

  @include govuk-media-query($until: tablet) {
    flex-basis: calc(50% - #{govuk-spacing(2)});
  }

  @include govuk-media-query($until: mobile) {
    flex-basis: 100%;
  }

  &:last-of-type {
    margin-bottom: govuk-spacing(4);
  }
}

.item {
  background: govuk-colour('white');
}

.dropArea {
  background: govuk-colour('light-grey');
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

.isReordering {
  position: relative;

  &::before {
    color: govuk-colour('dark-grey');
    content: '\2630';
    cursor: grab;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    top: 6px;
  }

  &:focus {
    @include govuk-focused-text;
  }
}

.isDragging {
  @include govuk-focused-text;
}
