// Import base GOVUK helpers for use  in other components.
// This is mostly for convenience to avoid unnecessary
// amounts of imports.

$govuk-assets-path: '/static/';

@import '~govuk-frontend/govuk/settings/all';
@import '~govuk-frontend/govuk/tools/all';
@import '~govuk-frontend/govuk/helpers/all';
