@mixin print-hide() {
  @media print {
    display: none;
  }
}

.dfe-print-hidden {
  @include print-hide();
}

@mixin print-unbreakable() {
  page-break-inside: avoid;
}
.dfe-print-unbreakable {
  @include print-unbreakable();
}

@mixin dfe-print-break-before() {
  page-break-inside: avoid;
}
.dfe-print-break-before {
  @include dfe-print-break-before();
}

@media print {
  *[href]::after {
    content: none !important;
  }

  .govuk-accordion {
    @include print-unbreakable();
  }

  .govuk-details {
    @include print-hide();
  }
}
