@import '~govuk-frontend/components/table/table';

/* stylelint-disable scss/at-extend-no-missing-placeholder */
.govuk-table {
  background: #fff;

  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    padding: govuk-spacing(2);
    text-align: right;
  }

  .govuk-table__header--center {
    text-align: center;
  }

  caption {
    @extend .govuk-table__caption;
    background: #fff;
  }
}

.govuk-table__row--striped {
  background: govuk-colour('grey-4');
}
