@import '~govuk-frontend/govuk/components/table/table';

/* stylelint-disable scss/at-extend-no-missing-placeholder */

table {
  @extend .govuk-table;
}

table,
.govuk-table {
  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    padding: govuk-spacing(2);
    text-align: right;
  }

  .govuk-table__header--center {
    text-align: center;
  }

  caption {
    @extend .govuk-table__caption;
  }
}

.govuk-table__row--striped {
  background: govuk-colour('light-grey');
}

.govuk-table__header--actions {
  text-align: right;
}

.govuk-table__cell--actions {
  text-align: right;

  > a,
  > button {
    display: inline-block;
    margin-bottom: govuk-spacing(2);
    margin-right: 0;
    text-align: right;
  }

  > :not(:last-child) {
    @include govuk-media-query($from: desktop) {
      margin-right: govuk-spacing(3);
    }
  }
}

.dfe-hide-empty-cells {
  td:empty {
    padding: 0;
  }
}
