@import '~govuk-frontend/govuk/components/table/table';

/* stylelint-disable scss/at-extend-no-missing-placeholder */

/*.table class is used as a wrapper by ckeditor, need to select
this class to style manually created tables via the editor*/
.table {
  margin-left: 0;
  overflow: auto;
}

.table table {
  @extend .govuk-table;
}

.table table,
.govuk-table {
  background: #fff;

  th {
    @extend .govuk-table__header;
  }

  td {
    @extend .govuk-table__cell;
  }

  .govuk-table__header--numeric,
  .govuk-table__cell--numeric {
    padding: govuk-spacing(2);
    text-align: right;
  }

  .govuk-table__header--center {
    text-align: center;
  }

  caption {
    @extend .govuk-table__caption;
    background: #fff;
  }
}

.govuk-table__row--striped {
  background: govuk-colour('light-grey');
}
