@import '~govuk-frontend/govuk/core/lists';
@import '~govuk-frontend/govuk/core/section-break';
@import '~govuk-frontend/govuk/core/typography';
@import '~govuk-frontend/govuk/core/links';
@import '~govuk-frontend/govuk/helpers/typography';

body {
  @extend %govuk-body-m;
}

p {
  @extend %govuk-body-m;
}

a {
  @extend %govuk-link;
  word-break: break-word;
}

strong {
  @include govuk-typography-weight-bold;
}

small {
  @extend %govuk-body-s;
}

ul {
  @extend %govuk-list--bullet;
}

ol {
  @extend %govuk-list--number;
}

dt {
  @include govuk-typography-weight-bold;
}

h1 {
  @extend %govuk-heading-xl;
}

h2 {
  @extend %govuk-heading-l;
}

h3 {
  @extend %govuk-heading-m;
}

h4 {
  @extend %govuk-heading-s;
}

hr {
  @extend %govuk-section-break,
    %govuk-section-break--m,
    %govuk-section-break--visible;
}

/* stylelint-disable scss/at-extend-no-missing-placeholder */

blockquote {
  @extend .govuk-inset-text;
  margin-left: 0;
}

p pre,
.govuk-body pre {
  white-space: normal;
}
