$dfe-page-width-wide: 1280px !default;
$dfe-page-width-wide-gutter: 15px !default;
$dfe-page-width-full: 90vw !default;

// These colours are not available publically in GOV.UK Frontend yet
// Adding here until there are public variables
$_govuk-rebrand-light-blue-background-colour: #f4f8fb;
$_govuk-rebrand-border-colour-on-blue-tint-95: #8eb8dc;
