$dfe-page-width-wide: 1280px !default;
$dfe-page-width-wide-gutter: 15px !default;
$dfe-page-width-full: 90vw !default;

// This colour is not available publically in GOV.UK Frontend yet
// Adding here until there is a public variable
$_govuk-rebrand-light-blue-background-colour: #f4f8fb;
