.dataBlockSelector {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dataBlockSelector__or {
  font-weight: bold;
  margin: 0 1.5rem;
}

.dataBlockSelector__button {
  margin: 0;
}
