@import '~govuk-frontend/dist/govuk/base';
@import '@common/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
  background-color: $_govuk-rebrand-light-blue-background-colour;
}

.innerWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: govuk-spacing(6);
  row-gap: govuk-spacing(4);
  margin-inline: govuk-spacing(2);
  padding-block: govuk-spacing(2);
}

.list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: govuk-spacing(6);
  row-gap: govuk-spacing(3);
  margin-block: 0;
}

.listItemTerm {
  font-weight: normal;
  color: $govuk-secondary-text-colour;
}

.listItemDefinition {
  margin: 0;
}
