@import '~govuk-frontend/dist/govuk/base';

.wrapper {
  --tab-nav-height: calc(55px + var(--admin-bar-offset, 0px));
  --layout-padding-top: #{govuk-spacing(4)};
  display: flex;
  gap: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    --layout-padding-top: #{govuk-spacing(8)};
  }
}

.sidebar {
  position: sticky;
  top: var(--tab-nav-height);
  flex: 0 0 280px;
  max-width: 30vw;
  align-self: flex-start;
  max-height: calc(100vh - var(--layout-padding-top));
  padding-top: var(--layout-padding-top);
  overflow-y: auto;
  // Provide space for nav item border to display
  margin-left: -14px;
  padding-left: 14px;
}

.content {
  flex: 1 1 auto;
  padding-top: var(--layout-padding-top);
  padding-bottom: govuk-spacing(8);
  overflow: hidden;

  :target {
    scroll-margin-top: calc(var(--tab-nav-height) + var(--layout-padding-top));
  }
}
