@import '~govuk-frontend/dist/govuk/base';

.quickLinksHeading {
  @include govuk-font-size(19);
  margin-bottom: govuk-spacing(2);
}

@include govuk-media-query($from: tablet) {
  .quickLinksHeading {
    @include govuk-font-size(24);
    border-top: 3px solid govuk-colour('blue');
    padding-top: 1rem;
  }

  .quickLinks {
    @include govuk-font-size(19);
  }
}
