{
  "environment": {
    "idp": "keycloak",
    "adminUrl": "https://ees.local:5021",
    "publicUrl": "http://ees.local:3000",
    "supportsRefreshTokens": true,
    "users": [
      {
        "name": "bau1",
        "email": "ees-test.bau1@education.gov.uk",
        "password": "password"
      }]
  }
}
