{
  "environment": {
    "adminUrl": "https://ees.local:5021",
    "supportsRefreshTokens": true,
    "users": [
      {
        "userName": "bau1",
        "email": "EES-test.BAU1@education.gov.uk",
        "password": "EnterPasswordHere"
      }]
  }
}