@model GovUk.Education.ExploreEducationStatistics.Content.Model.Topic

@{
    ViewData["Title"] = "Edit";
}

<span class="govuk-caption-l">Topic</span>
<h1 class="govuk-heading-l">@Model.Title</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    
    <div class="govuk-form-group">
        <label asp-for="ThemeId" class="govuk-label govuk-label--s"></label>
        <select asp-for="ThemeId" class="govuk-select" asp-items="ViewBag.ThemeId"></select>
        <span asp-validation-for="ThemeId" class="text-danger"></span>
    </div>
    
    <div class="govuk-form-group">
        <label asp-for="Title" class="govuk-label govuk-label--s"></label>
        <input asp-for="Title" class="govuk-input"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Slug" class="control-label"></label>
        <input asp-for="Slug" class="govuk-input govuk-input--width-20"/>
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Description" class="govuk-label govuk-label--s"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    
    <div class="govuk-form-group">
        <label asp-for="Summary" class="govuk-label govuk-label--s"></label>
        <input asp-for="Summary" class="govuk-textarea"/>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <input type="submit" value="Save" class="govuk-button">
    </div>
</form>

<div>
    <a asp-action="Index" class="govuk-back-link">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}