@use '~govuk-frontend/dist/govuk/base' as *;

.row {
  &:focus-visible {
    outline: govuk-functional-colour(focus) solid $govuk-focus-width;
  }
}

.statusColumn {
  width: 200px;
}

.actionsColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: #{govuk-spacing(2)};
}
