.chartContainer {
  display: flex;
}

.chart {
  align-items: center;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  margin: 4px;
  padding: 8px;

  &:hover {
    background-color: #00a599;
    color: #fff;
  }

  &.selected {
    background-color: #005ea5;
    color: #fff;
  }
}

.chart .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 128px;
  width: 192px;
}

.chart .title {
  font-weight: bold;
}

.line {
  background: url('/static/images/chart-types/line-chart.png');
}

.horizontalbar {
  background: url('/static/images/chart-types/horizontal-bar.png');
}

.verticalbar {
  background: url('/static/images/chart-types/vertical-bar.png');
}

.map {
  background: url('/static/images/chart-types/map.png');
}

.formselect {
  height: 200px;

  select {
    height: 100% !important;
  }
}

.verticalfields {
  display: flex;
  flex-direction: column;
}

.colorSelect {
  width: 50px;
}

.axesOptions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.chartAxesConfiguration {
  flex-basis: 25%;
  padding: 0 2em;
}

.chartDataConfiguration {
  padding: 0;
}

.chartDataLabelConfiguration {
  display: flex;
  width: 100%;

  label {
    margin-top: 10px !important;
  }
}

.chartDataItem {
  display: flex;
  flex-grow: 1;
  label {
    margin-left: 0.75em;
    margin-right: 0.5em;
  }
}

.noCellBorder {
  td {
    border-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}
