@use '~govuk-frontend/dist/govuk/base' as *;

@mixin focused-input {
  box-shadow: inset 0 0 0 $govuk-border-width-form-element;
  outline: $govuk-focus-width solid govuk-functional-colour(focus);
  outline-offset: 0;
}
