@model GovUk.Education.ExploreEducationStatistics.Content.Model.Topic

@{
    ViewData["Title"] = "Create new topic";
}

<h1 class="govuk-heading-xl">Create new topic</h1>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="govuk-form-group">
        <label asp-for="ThemeId" class="govuk-label govuk-label--s">Theme</label>
        <select asp-for="ThemeId" class="govuk-select" asp-items="ViewBag.ThemeId"></select>
    </div>

    <div class="govuk-form-group">
        <label asp-for="Title" class="govuk-label govuk-label--s"></label>
        <input asp-for="Title" class="govuk-input"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <label asp-for="Slug" class="govuk-label govuk-label--s"></label>
        <input asp-for="Slug" class="govuk-input govuk-input--width-20"/>
        <span asp-validation-for="Slug" class="text-danger"></span>
    </div>

    <div class="govuk-form-group">
        <label asp-for="Summary" class="govuk-label govuk-label--s"></label>
        <textarea asp-for="Summary" class="govuk-textarea" ></textarea>
        <span asp-validation-for="Summary" class="text-danger"></span>
    </div>
    <div class="govuk-form-group">
        <input type="submit" value="Create topic" class="govuk-button"/>
    </div>

    <a asp-action="Index" class="govuk-back-link">Back to List</a>
</form>

<div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}