@import 'src/styles/govuk-base';

.readOnly {
  background: govuk-colour('light-grey');
  border: 2px solid $govuk-border-colour;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: govuk-spacing(2);
  min-height: 2.2rem;
  position: relative;

  &:focus {
    @include govuk-focused-text;
  }
}

.readOnly:focus,
.readOnly:hover {
  .readOnlyButton {
    opacity: 1;
  }
}

.editor {
  background: govuk-colour('light-grey');
  margin-bottom: govuk-spacing(2);

  :global(.ck.ck-editor) {
    border: 2px solid govuk-colour('black');
  }

  :global(.ck-focused) {
    border-color: $govuk-input-border-colour !important;
  }
}

.preview {
  padding: 0 govuk-spacing(2);

  pre {
    white-space: normal;
  }
}
