@import '../../../../../src/styles/govuk-base';

.map {
  background-color: #f8f8fc;

  path {
    fill-opacity: 1;
    stroke: #081b26;
    stroke-width: 1px;
  }

  .uk {
    fill: #104f75;
    fill-opacity: 0.1;
    stroke: #cfdce3;
  }

  .selected {
    fill: #fd0 !important;
    stroke-width: 3px;
  }
}

.legend {
  span {
    display: inline-block;
    width: 16px;
  }
}

.mapContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.mapControls {
  display: flex;
  flex: 0 0 32.3%;
  flex-direction: column;
  margin: 0.5% 0.5% 0;
  max-width: 32.3%;
  @media print {
    display: block;
  }
  @include govuk-media-query($until: tablet) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.mapKey {
  padding: 0 1rem;
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.mapView {
  display: flex;
  flex: 1 0 64.6%;
  flex-direction: column;
  margin: 0.5% 0.5% 0;
  @media print {
    display: block;
  }
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.mapIndicator {
  flex: 1 0 64.6%;
  margin-right: 1%;

  @include govuk-media-query($until: tablet) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  @include govuk-media-query($from: tablet) {
    margin: 0 1.5% 0 0.5%;
  }
}

.mapLocation {
  box-sizing: border-box;
  flex: 0 0 32.3%;
  max-width: 32.3%;
  padding: 0 0.5rem;

  @include govuk-media-query($until: tablet) {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
}
