.map {
  background-color: #f8f8fc;

  path {
    fill-opacity: 1;
    stroke: #081b26;
    stroke-width: 1px;
  }

  .uk {
    fill: #104f75;
    fill-opacity: 0.1;
    stroke: #cfdce3;
  }

  .selected {
    fill: #ffbf47 !important;
    stroke-width: 3px;
  }
}

.legend {
  span {
    display: inline-block;
    width: 16px;
  }
}
