@import '../../../styles/govuk-base';

.map {
  background-color: govuk-colour('light-grey');

  path {
    fill-opacity: 1;
    stroke: #081b26;
    stroke-width: 1px;
  }

  .uk {
    fill: govuk-colour('dark-blue');
    fill-opacity: 0.1;
    stroke: #cfdce3;
  }

  .selected {
    fill: govuk-colour('yellow') !important;
    stroke-width: 3px;
  }
}

.tooltipList {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    align-items: center;
    display: flex;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

.legend {
  align-items: center;
  display: flex;
  line-height: 20px;
  margin-bottom: 0;
}

.legendIcon {
  height: 20px;
  margin-right: govuk-spacing(1);
  width: 20px;
}
