parameters:
  - name: serviceConnection
    type: string
  - name: displayName
    type: string
    default: Waiting for a successful response from endpoint
  - name: condition
    type: string
    default: succeeded()
  - name: accessTokenScope
    type: string
    default: null
  - name: pollingDelaySeconds
    type: number
    default: 5
  - name: maxAttempts
    type: number
    default: 50
  - name: endpoint
    type: string
  - name: allow404s
    type: boolean
    default: false

steps:
  - task: AzureCLI@2
    displayName: ${{ parameters.displayName }}
    inputs:
      azureSubscription: ${{ parameters.serviceConnection }}
      condition: ${{ parameters.condition }}
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        
        if [ -n "${{ parameters.accessTokenScope }}" ]; then
          accessToken=`az account get-access-token \
            --resource ${{ parameters.accessTokenScope }} \
            --query "accessToken" \
            -o tsv`
        fi

        allow404s=${{ parameters.allow404s }}

        for attempt in $(seq 1 ${{ parameters.maxAttempts }});
        do

          echo "Attempt number $attempt of ${{ parameters.maxAttempts }} - calling ${{ parameters.endpoint }} to check for successful response."

          if [ -n "$accessToken" ]; then
            httpStatusCode=`curl --write-out '%{http_code}' -H "Authorization: Bearer $accessToken" -s --output /dev/null ${{ parameters.endpoint }}`
          else 
            httpStatusCode=`curl --write-out '%{http_code}' -s --output /dev/null ${{ parameters.endpoint }}`
          fi 

          if (( $httpStatusCode >= 200 && $httpStatusCode <= 204 )); then
            echo "Received successful response with status code $httpStatusCode."
            exit 0
          fi

          if [[ "${allow404s,,}" == "true" && "$httpStatusCode" == "404" ]]; then
            echo "Received allowed 404 status code."
            exit 0
          fi

          echo "Received response with status code $httpStatusCode. Retrying in ${{ parameters.pollingDelaySeconds }} seconds."
          sleep ${{ parameters.pollingDelaySeconds }}
        
        done

        echo "Timed out waiting for successful response."
        exit 1
