@use '~govuk-frontend/dist/govuk/base' as *;

.container {
  margin-bottom: govuk-spacing(6);
  overflow: auto;

  &:focus-visible {
    outline: govuk-functional-colour(focus) solid $govuk-focus-width;
  }
}
