@use '~govuk-frontend/dist/govuk/base' as *;

.masthead {
  --search-bar-button-background: #{govuk-colour('blue', $variant: 'tint-80')};
  --search-bar-button-text: #{govuk-colour('blue')};
  --search-bar-input-background: #{govuk-colour('white')};
  --search-bar-input-size: 53px;

  background-color: govuk-colour('blue');
  color: govuk-functional-colour('inverse-text');

  *:is(:link, :visited, h1, h2, label) {
    color: govuk-functional-colour('inverse-text');
  }

  :global(.autocomplete__input) {
    border: 0;
  }
}

.mastheadMainContent {
  @include govuk-media-query($from: tablet) {
    padding-right: govuk-spacing(8);
  }
}

.mastheadTitle {
  @include govuk-media-query($until: tablet) {
    // N.b not using govuk-visually-hidden as it seems to break the prod css build
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.mastheadSubtitle {
  color: govuk-functional-colour('inverse-text');
}
