@use '~govuk-frontend/dist/govuk/base' as *;

.tile {
  background-color: govuk-colour('black', $variant: 'tint-95');
  padding: govuk-spacing(4);
  display: flex;
  flex-direction: column;
  justify-content: center;

  * {
    padding-top: 0 !important;
    margin-bottom: govuk-spacing(1);
  }
}
