@import '../../../styles/govuk-base';

.columns {
  column-gap: govuk-spacing(3);
  columns: 2;

  @include govuk-media-query($until: tablet) {
    columns: 1;
  }
}

.group {
  break-inside: avoid;
  margin-bottom: govuk-spacing(3);
}
