@import '../../../styles/govuk-base';

$border-width: 4px;

.container {
  max-height: 80vh;
  overflow: scroll;
  padding-right: govuk-spacing(4);
  position: relative;

  &:focus {
    outline: none;
  }
}

.stickyHeaderTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 2;

  thead th {
    width: 100%;
    z-index: 3;
  }
}

.stickyColumnTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 1;

  th:last-child {
    padding: govuk-spacing(2) govuk-spacing(4) govuk-spacing(2) 0;
  }
}

.stickyIntersectionTable {
  left: 0;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 4;
}

.intersectionCell {
  border-bottom: 0 !important;
}

.borderLeft {
  border-left: $border-width solid govuk-colour('black') !important;
}

.borderRight {
  border-right: $border-width solid govuk-colour('black') !important;
}

.borderBottom {
  border-bottom: $border-width solid govuk-colour('black') !important;
}
