@import '../../../styles/govuk-base';

.container {
  overflow-x: scroll;
}

.borderTop {
  border-top: 3px solid govuk-colour('black');
}

.borderLeft {
  border-left: 3px solid govuk-colour('black');
}

.borderRight {
  border-right: 3px solid govuk-colour('black');
}

.borderBottom {
  border-bottom: 3px solid govuk-colour('black');
}
