.chartContainer {
  display: flex;
}

.chart {
  align-items: center;
  display: flex;
  flex-basis: 128px;
  flex-direction: column;
  margin: 4px;
  padding: 8px;

  &:hover {
    background-color: #00a599;
    color: #fff;
  }

  &.selected {
    background-color: #005ea5;
  }
}

.chart .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #777;
  height: 128px;
  width: 128px;
}

.chart .title {
  font-weight: bold;
}

.line {
  background: url('./charts/line-chart.png');
}

.horizontal {
  background: url('./charts/horizontal-bar.png');
}

.vertical {
  background: url('./charts/vertical-bar.png');
}

.map {
  background: url('./charts/map.png');
}
