@import '~govuk-frontend/dist/govuk/base';

.option {
  display: block;
  padding: 0.5rem 4px;

  @include govuk-media-query($from: tablet) {
    padding: 0.5rem;
  }

  &__expanded {
    background: govuk-colour('light-grey');
    margin-bottom: 1rem;
  }
}

.detailsMenu {
  margin-bottom: 0;

  > summary {
    margin-left: 44px;
  }
}

.detailsMenu > div {
  background: #fff;
  box-shadow: inset 0 -3px 1px -1px #ccc;
  padding: 0.5rem 4px !important;

  @include govuk-media-query($from: tablet) {
    box-shadow: none;
    padding: 1rem 0.5rem 1rem 2rem !important;
  }
}

.checkbox {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.search {
  margin: 0.5rem;
}

.selectAllButton {
  margin: 0.5rem;
}
