@import '~govuk-frontend/dist/govuk/base';

.sectionContent {
  border-left: 5px solid govuk-colour('mid-grey');
  display: none;
  padding: govuk-spacing(3) 0 govuk-spacing(3) govuk-spacing(4);

  :global(.govuk-accordion__show-all) {
    margin-left: 44px;
  }

  .sectionContent {
    background: govuk-colour('white');
    border: 0;
    box-shadow: inset 0 -3px 1px -1px #ccc;
    padding: govuk-spacing(2) govuk-spacing(1) !important;

    @include govuk-media-query($from: tablet) {
      box-shadow: none;
      padding: govuk-spacing(4) govuk-spacing(2) govuk-spacing(4)
        govuk-spacing(8) !important;
    }
  }
}

.expanded > .sectionContent {
  display: block;
}
