@import '~govuk-frontend/dist/govuk/base';

.option {
  display: block;
  padding: govuk-spacing(2) govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(2);
  }

  &__expanded {
    background: govuk-colour('light-grey');
  }

  &__expanded:not(:last-child) {
    margin-bottom: govuk-spacing(4);
  }

  em {
    background-color: govuk-colour('yellow');
    color: govuk-colour('black');
    font-style: normal;
    font-weight: bold;
  }
}

.checkboxContainer {
  padding-left: govuk-spacing(2);
  padding-bottom: govuk-spacing(1);
}

.search {
  margin: govuk-spacing(2);
}

.selectAllButton {
  margin: govuk-spacing(2);
}

.selectThisAndAllButton {
  margin: 0 govuk-spacing(1);
  vertical-align: middle;

  @include govuk-media-query($until: tablet) {
    display: block;
    margin: govuk-spacing(2) 0 govuk-spacing(2) 44px;
  }
}

.divider {
  color: govuk-colour('black');
  display: inline-block;
  margin: 0 govuk-spacing(1);
  vertical-align: middle;

  @include govuk-media-query($until: tablet) {
    display: none;
  }
}
