@import '~govuk-frontend/dist/govuk/base';

.hintText {
  @include govuk-media-query($from: tablet) {
    max-width: calc(100% - 100px);
  }
}

.separator {
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-left: 6px solid govuk-colour('blue');
  border-top: 6px solid transparent;
  margin: 0 10px;
  content: '';
}

.augmentedFilters {
  > li {
    margin-bottom: govuk-spacing(2);
  }
}
