@import '../../../styles/govuk-base';

.figure {
  margin: 0;

  figcaption {
    padding-bottom: govuk-spacing(4);
  }
}

.container {
  display: inline-block;
  max-height: 80vh;
  overflow: auto;
  padding-right: govuk-spacing(4);
  width: 100%;

  &:focus {
    outline: none;
  }
}

@media print {
  .container {
    max-height: none;
    overflow: visible !important;
    padding-right: 0;
    width: auto;
  }

  thead {
    display: table-row-group;
  }

  table {
    break-inside: auto;
  }

  tr,
  td {
    break-after: auto;
    break-inside: avoid;
  }

  thead tr th,
  thead tr td {
    transform: none !important;
  }
}
