@import '~govuk-frontend/govuk/base';

.list {
  max-height: 40vh;
  overflow: auto;
}

.listDraggingOver {
  background: govuk-colour('light-grey');
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
}

.optionRow {
  background: #fff;
  border-bottom: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(2);
  position: relative;
  user-select: none;

  &:hover {
    background: govuk-colour('light-grey');
    // Fallback if grab is unsupported
    cursor: move;
    cursor: grab;
  }

  &:focus {
    border: $govuk-focus-width solid govuk-colour('black');
    outline: $govuk-focus-colour solid $govuk-focus-width;
  }
}

.optionText {
  display: flex;
  justify-content: space-between;
}

.optionActions {
  display: flex;
  flex-direction: column;
}

.optionDragging {
  background: govuk-colour('blue');
  border: $govuk-focus-width solid govuk-colour('black');
  color: govuk-colour('white');
  outline: $govuk-focus-colour solid $govuk-focus-width;
}

.optionSelected {
  background: govuk-colour('blue');
  color: govuk-colour('white');

  &:hover {
    background: darken(govuk-colour('blue'), 5);
  }
}

.optionGhosted {
  opacity: 0.5;
}

.optionDraggedOutside {
  border: 0;
  opacity: 0.2;
  outline: none;
}

.selectedCount {
  align-items: center;
  background: govuk-colour('yellow');
  border: $govuk-focus-width solid govuk-colour('black');
  color: govuk-colour('black');
  display: flex;
  justify-content: center;
  padding: govuk-spacing(1) govuk-spacing(2);
  position: absolute;
  right: -#{govuk-spacing(5)};
  top: -#{govuk-spacing(5)};
}
