@import '~govuk-frontend/govuk/base';

.list {
  max-height: 40vh;
  overflow: auto;
}

.listIsDisabled {
  opacity: 0.5;
  overflow: hidden;

  .option:hover {
    background: govuk-colour('white');
  }
}

.isDraggingOver {
  background: govuk-colour('light-grey');
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
}

.option {
  background: govuk-colour('white');
  border-bottom: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(2);
  user-select: none;

  &:hover {
    background: govuk-colour('light-grey');
    // Fallback if grab is unsupported
    cursor: move;
    cursor: grab;
  }

  &:focus {
    outline: $govuk-focus-colour solid $govuk-focus-width;
    outline-offset: $govuk-focus-width * -1;
  }
}

.isSelected {
  background: govuk-colour('blue');
  color: govuk-colour('white');

  &:hover {
    background: darken(govuk-colour('blue'), 5);
  }
}

.isDragging {
  background: govuk-colour('blue');
  box-shadow: inset 0 0 0 $govuk-focus-width govuk-colour('black');
  color: govuk-colour('white');
  outline: $govuk-focus-colour solid $govuk-focus-width;
}

.isGhosted {
  opacity: 0.5;
}

.isDraggedOutside {
  border: 0;
  opacity: 0.2;
  outline: none;
}

.dragIcon {
  display: block;
  fill: currentColor;
  flex-shrink: 0;
  height: 1rem;
  margin-top: 0.2rem;
  width: 1rem;
}

.optionLabel {
  display: flex;
  font-weight: $govuk-font-weight-bold;
  justify-content: space-between;
  word-break: break-word;
}

.listIsDisabled {
  .dragIcon {
    display: none;
  }
}

.selectedCount {
  align-items: center;
  background: govuk-colour('yellow');
  border: $govuk-focus-width solid govuk-colour('black');
  color: govuk-colour('black');
  display: flex;
  justify-content: center;
  padding: govuk-spacing(1) govuk-spacing(2);
  position: absolute;
  right: -#{govuk-spacing(5)};
  top: -#{govuk-spacing(5)};
}
