@import '~govuk-frontend/govuk/base';

.groupsFieldset {
  border: 4px solid govuk-colour('light-grey');
  padding: govuk-spacing(2);
  width: 100%;
}

.isDraggingOver {
  background-color: govuk-colour('mid-grey');
  border-color: $govuk-focus-colour;
}

.listsContainer {
  display: flex;
  flex-direction: column;
  padding: govuk-spacing(2);
  width: 100%;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
  }
}

.list {
  background: govuk-colour('light-grey');
  display: block;
  flex-basis: 100%;
  margin-bottom: govuk-spacing(2);
  margin-right: govuk-spacing(2);
  padding: govuk-spacing(2);

  @include govuk-media-query($from: desktop) {
    flex-basis: 33%;
  }

  &:focus {
    border: $govuk-focus-width solid #000;
    outline: $govuk-focus-colour solid $govuk-focus-width;
  }

  &:hover {
    background: govuk-colour('mid-grey');

    // Fallback if grab is unsupported
    cursor: move;
    cursor: grab;
  }
}

.isDragging {
  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;
}

.optionDraggedOutside {
  opacity: 0.4;
  outline: none;
}
