@import '../../../styles/govuk-base';

$border-width: 2px;

/*.borderLeft {
  border-left: 0 solid govuk-colour('black') !important;
}
*/

.borderBottom {
  border-bottom: $border-width solid $govuk-border-colour !important;
}

.table {
  border-collapse: separate;
  //width: auto;

  th:last-child,
  td:last-child {
    padding-right: govuk-spacing(2);
  }

  thead td {
    background: #fff;
    position: relative;
    z-index: 3;
  }

  thead th {
    background: #fff;
    position: relative;
    z-index: 2;
  }

  tbody th {
    background: #fff;
    position: relative;
    text-align: left !important;
    z-index: 1;
  }
}

.cellVerticalMiddle {
  vertical-align: middle !important;
}
