@import '../../../styles/govuk-base';

$border-width: 1px;

/*.borderLeft {
  border-left: 0 solid govuk-colour('black') !important;
}
*/

.borderBottom {
  border-bottom: $border-width solid $govuk-border-colour !important;
}

.table {
  border-collapse: separate;
  //width: auto;

  th:last-child,
  td:last-child {
    padding-right: govuk-spacing(2);
  }

  thead td {
    background: #fff;
    position: relative;
    z-index: 3;
  }

  thead th {
    background: #fff;
    position: relative;
    z-index: 2;
  }

  tbody th {
    background: #fff;
    position: relative;
    text-align: left !important;
    z-index: 1;
  }
}

@media print {
  .table {
    font-size: 0.8rem;
  }
}

:global(.govuk-table) .cellVerticalMiddle {
  vertical-align: middle;
}

:global(.govuk-table) .cellHorizontalMiddle {
  background: govuk-colour('light-grey');
  border-bottom: 1px solid $govuk-border-colour;
  border-right: 1px solid $govuk-border-colour;
  text-align: center;

  &:last-child {
    border-right: 0;
  }
}
