@import '../../../styles/govuk-base';

$border-width: 1px;

.borderBottom {
  border-bottom: $border-width solid $govuk-border-colour !important;
}

.table {
  border-collapse: separate;

  @media print {
    font-size: 0.8rem;
  }

  th:last-child,
  td:last-child {
    padding-right: govuk-spacing(2);
  }

  thead td {
    background: #fff;
    position: relative;
    z-index: 3;
  }

  thead th {
    background: #fff;
    position: relative;
    z-index: 2;
  }

  tbody th {
    background: #fff;
    position: relative;
    text-align: left !important;
    z-index: 1;
  }
}

:global(.govuk-table) {
  .columnHeaderGroup {
    background: govuk-colour('light-grey');
    border-bottom: 1px solid $govuk-border-colour;
    border-right: 1px solid $govuk-border-colour;
    text-align: center;
  }

  .borderRightNone {
    border-right: 0;
  }
}
