@use '~govuk-frontend/dist/govuk/base' as *;

.optionsContainer {
  @include govuk-media-query($from: desktop) {
    display: flex;
  }
}

.publicationsList {
  @include govuk-media-query($from: desktop) {
    border-left: 1px solid govuk-colour('black', $variant: 'tint-80');
    margin-left: govuk-spacing(7);
    padding-left: govuk-spacing(7);
  }

  :global(.govuk-form-group) {
    margin-bottom: 0;
  }
}
