@use '~govuk-frontend/dist/govuk/base' as *;
@use '@common/styles/variables' as *;

.container {
  background-color: govuk-colour('white');
  border: 2px solid govuk-colour('black', $variant: 'tint-80');
  overflow-x: auto;
  padding: govuk-spacing(2);
  position: relative;
  width: 100%;

  + .container {
    border-top: 0;
  }

  &.isDraggingActive {
    background-color: govuk-functional-colour(focus);
    border-color: govuk-colour('black', $variant: 'tint-25');
  }
}

.groupsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
  }
}

.groupContainer {
  padding: govuk-spacing(1);
}
