@import '~govuk-frontend/govuk/base';

.stepButton {
  @include govuk-typography-common;
  background: none;
  border: $govuk-focus-width solid transparent;
  color: $govuk-link-colour;
  cursor: text;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}

.stepButton {
  cursor: pointer;
}

.stepButton:hover {
  color: $govuk-link-hover-colour;
}

.stepButton:focus {
  border: $govuk-focus-width solid #000;
  outline: $govuk-focus-colour solid $govuk-focus-width;
}
