.dfe-flex {
  display: flex;
}

.dfe-flex-wrap {
  flex-wrap: wrap;
}

.dfe-justify-content--center {
  justify-content: center;
}

.dfe-justify-content--space-between {
  justify-content: space-between;
}

.dfe-align-items--center {
  align-items: center;
}
