.dfe-flex {
  display: flex;
}

.dfe-flex-wrap {
  flex-wrap: wrap;
}

.dfe-align-items--center {
  align-content: center;
}

.dfe-justify-content--center {
  justify-content: center;
}

.dfe-justify-content--flex-start {
  justify-content: flex-start;
}

.dfe-justify-content--flex-end {
  justify-content: flex-end;
}

.dfe-justify-content--space-between {
  justify-content: space-between;
}

.dfe-align-items--center {
  align-items: center;
}

.dfe-flex-shrink--0 {
  flex-shrink: 0;
}

.dfe-flex-shrink--1 {
  flex-shrink: 1;
}

.dfe-flex-grow--0 {
  flex-grow: 0;
}

.dfe-flex-grow--1 {
  flex-grow: 1;
}
