.dfe-meta-content {
  .govuk-caption-m {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 0;
  }
}

.dfe-multiline-content {
  white-space: pre-line;
}

/*.dfe-custom-details {
  .row-group {
    max-width: $govuk-page-width / 1.5;
  }
}*/

.dfe-custom-details .govuk-details__summary {
  //background: govuk-colour('light-grey');
  //box-shadow: 0 2px 0 govuk-colour('mid-grey');
  font-size: 1.3rem;
  font-weight: 700;
  //padding: 0.5rem 1rem 0.5rem 2rem;

  /* &-text {
    text-decoration: none;
  }

  &::before {
    left: 1rem !important;
    //border-color: $govuk-link-colour;
  }*/
}

/*.row-group {
  max-width: 50%;
}*/
