.dfe-align--centre {
  text-align: center;
}

.dfe-align--left {
  text-align: left;
}

.dfe-align--right {
  text-align: right;
}

.dfe-float--right {
  float: right;
}

.dfe-vertical-align--bottom {
  vertical-align: bottom !important;
}
