.dfe-align--centre {
  text-align: center !important;
}

.dfe-align--left {
  text-align: left !important;
}

.dfe-align--right {
  text-align: right !important;
}

.dfe-float--right {
  float: right !important;
}

.dfe-vertical-align--bottom {
  vertical-align: bottom !important;
}

.dfe-position--relative {
  position: relative;
}
