@import '../../../../node_modules/govuk-frontend/settings/all';
@import '../../../../node_modules/govuk-frontend/helpers/all';

.filterMenu {
  background-color: govuk-colour('grey-4');
  border: 1px solid govuk-colour('grey-2');
  padding: govuk-spacing(4);
}
