parameters:
  - name: action
    type: string
    default: create
    values:
      - create
      - validate
  - name: displayName
    type: string
  - name: serviceConnection
    type: string
  - name: parameterFile
    type: string
  - name: searchDocsFunctionAppExists
    type: string
    default: true
  - name: searchServiceIndexerName
    type: string

steps:
  - task: AzureCLI@2
    displayName: ${{ parameters.displayName }}
    inputs:
      azureSubscription: ${{ parameters.serviceConnection }}
      scriptType: bash
      scriptLocation: inlineScript
      addSpnToEnvironment: true
      inlineScript: |
        set -e

        az deployment group ${{ parameters.action }} \
          --name $(infraDeployName) \
          --resource-group $(resourceGroupName) \
          --template-file $(templateFile) \
          --parameters ${{ parameters.parameterFile }} \
          --parameters \
              subscription='$(subscription)' \
              resourceTags='$(resourceTags)' \
              searchServiceIndexerName=${{ parameters.searchServiceIndexerName }} \
              maintenanceIpRanges='$(maintenanceFirewallRules)' \
              searchDocsFunctionAppExists=${{ parameters.searchDocsFunctionAppExists }}
