{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<h1 class="govuk-heading-xl">
		DfE Data Dissemination
	</h1>

	<h2 class="govuk-heading-m">Prototype links</h2>
	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-s">General Public</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="/school-statistics/">School statistics</a>
			</li>
			<ul>
				<li>
					<a href="/school-statistics/pupil-absence/">Pupil absence</a>
				</li>
				<ul>
					<li>
						<a href="/school-statistics/pupil-absence/pupil-absence-in-schools-in-england/">Pupil absence in schools in
							England</a>
					</li>
				</ul>
			</ul>
		</ul>
	</div>

	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-s">Local authority</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="/school-statistics/">School statistics</a>
			</li>
			<ul>
				<li>
					<a href="#">Local authorities</a>
				</li>
				<ul>
					<li>
						<a href="/local-authority/sheffield.html">Sheffield</a>
					</li>
				</ul>
			</ul>
		</ul>
	</div>

	<div class="govuk-grid-column-one-third">
		<h3 class="govuk-heading-s">Primary analyst</h3>
		<ul class="govuk-list govuk-list--bullet">
			<li>
				<a href="/primary-analyst/">Primary analyst (placeholder)</a>
			</li>
		</ul>
	</div>

</div>

{% endblock %}
