{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			DfE Data Dissemination
<!--			<span class="govuk-caption-xl">{{releaseVersion}}</span>-->
		</h1>
		<br><br><p>School attendance and absence > <a href="/absence-and-exclusion/">Pupil absence</a></p>
		<p>Local authority > <a href="/local-authority/sheffield.html">Sheffield</a></p>

	</div>
</div>

{% endblock %}
