{% extends "layout.html" %}

{% block pageTitle %}
DfE statistics
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">
    DfE Data Dissemination
  </h1>

  <h2 class="govuk-heading-m">Prototype links</h2>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">General Public</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/absence-and-exclusion/">Pupil absence</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Local authority</h3>
    <ul class="govuk-list govuk-list--bullet">
    </ul>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s">Primary analyst</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/primary-analyst/">Primary analyst (placeholder)</a>
      </li>
    </ul>
  </div>

</div>

{% endblock %}