@import '~explore-education-statistics-common/src/styles/govuk-base';

.formSelectRow {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.formSelectGroup {
  flex-basis: calc(33% - #{govuk-spacing(2)});
  margin-bottom: govuk-spacing(4);
  margin-right: govuk-spacing(2);

  @include govuk-media-query($until: tablet) {
    flex-basis: calc(50% - #{govuk-spacing(2)});
  }

  @include govuk-media-query($until: mobile) {
    flex-basis: 100%;
  }

  &:last-of-type {
    margin-bottom: govuk-spacing(4);
  }
}

.dataSets {
  border-bottom: 1px solid govuk-colour('mid-grey');
  list-style: none;
  margin-bottom: govuk-spacing(2);
  padding-left: 0;

  &:last-of-type {
    border-bottom: 0;
  }
}

.dataSetRow {
  display: flex;
  justify-content: space-between;
}
