@import '../../../../../styles/govuk-base';

.configuration {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.configurationInput {
  align-items: center;
  display: flex;
  margin-bottom: govuk-spacing(2);
  margin-right: govuk-spacing(4);

  label {
    margin-right: govuk-spacing(2);
  }
}

.labelInput {
  composes: configurationInput;
  flex-grow: 1;
}

.colourInput {
  composes: configurationInput;

  input {
    width: 100px;
  }
}
