@import '~explore-education-statistics-common/src/styles/govuk-base';

.legend {
  dl span {
    display: inline-block;
    width: 20px;
  }
}

.rate0 {
  background-color: #cfdce3;
  fill: #cfdce3;
}
.rate1 {
  background-color: #9fb9c8;
  fill: #9fb9c8;
}
.rate2 {
  background-color: #7095ac;
  fill: #7095ac;
}
.rate3 {
  background-color: #407291;
  fill: #407291;
}
.rate4 {
  background-color: #104f75;
  fill: #104f75;
}
.rate5 {
  background-color: #f00;
  fill: #f00;
}

.unselectable {
  fill: #bfbfbf;
  opacity: 0.15;
  stroke: #7f7f7f;
}

.hideMobile {
  @include govuk-media-query($until: 950px) {
    @include govuk-visually-hidden();
  }
}

.adjustMobile {
  @include govuk-media-query($until: 950px) {
    width: 100%;
  }
}
