.dragContainer {
  position: relative;
}

.dragHandle {
  margin-top: -1.125rem;
  position: absolute;
  right: 32px;
  top: 50%;
  width: 1rem;
  &::before {
    color: #999;
    content: '\2630';
    font-size: 2.25rem;
    height: 2.25rem;
    position: absolute;
    z-index: 1000;
  }
}
