
.dragContainer {
}

.dragHandle {
  position: absolute;
  right: 32px;
  &:before {
    color: #999;
    content: '\2630';
    font-size: 2.25rem;
    height: 2.25rem;
    position: absolute;
    width: 2.25rem;
  }

}

.controls {
  /*
  position: relative;
  */
}

.reorderable {
  /*
  position: absolute !important;
  top: -4em;
  right: 0;
  */
}