.editable-header {
  position: relative;
  label {
    display: none;
  }
  input {
    display: absolute;
    position: relative;
    z-index: 1000;
  }
}

.edit {
  font-size: 1rem;
  margin-left: 0.5rem;
  text-transform: lowercase;
}
