@import '../styles/govuk-base';

.editableButton {
  display: none;
}

.editableButtonContent {
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  right: 0;

  .govuk-button {
    font-size: 0.5rem;
  }
}

.editableContent {
  background: govuk-colour('light-grey');
  cursor: pointer;
  margin: 0;
  min-height: 2.2em;
  padding: 0.1rem;
  position: relative;

  .editableButton {
    border: 2px solid $govuk-border-colour;
    display: block;
    font-weight: bold;
    height: 100%;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  .editableButtonContent {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &.unsaved .editableButton {
    text-align: center;
    white-space: pre;
  }
}

.editableContentEditing.editableContent .editableButton button {
  position: absolute;
  right: 0;
}

.editableStatus {
  position: absolute;
  right: 0;
  top: 0;
}

.editableButton:focus,
.editableButton:hover {
  .editableButtonContent {
    opacity: 1;
  }
}

.editableContentEditing {
  border: 2px solid #000;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: relative;

  .editableButton {
    border: 0;
    display: inline !important;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
  }
}

.wysiwygPreview pre {
  white-space: normal;
}
