@import '../../styles/govuk-base';

$size-small: govuk-spacing(5);

.itemSmall {
  min-height: $size-small;
  padding: 0 0 0 $size-small;

  :global(.govuk-checkboxes__input) {
    height: $size-small;
    width: $size-small;
  }
}

.itemSmall :global(.govuk-checkboxes__label) {
  padding: 0 15px 5px;

  &::before {
    height: $size-small;
    width: $size-small;
  }

  &::after {
    border-width: 0 0 4px 4px;
    height: 4px;
    left: 4px;
    top: 6px;
    width: 13px;
  }
}
