// Override standard gds styling

.dfe-interactive-map {
  width: 100%;
}

.dfe-font-style-normal {
  font-style: normal;
}

.dfe-meta-content {
  .govuk-caption-m {
    display: inline;
  }

  dd {
    display: inline;
    margin-left: 0;
  }
}

.govuk-grid-column-one-quarter {
  .fixed {
    position: relative;
    top: 0;
  }
}

.dfe-contents-list {
  li {
    margin-left: 2rem;
  }
  li::before {
    content: '\2014 ';
    margin-left: -2rem;
  }
}

.dfe-contents-details {
  details {
    margin-bottom: 1rem;
  }
}
