@import '~govuk-frontend/govuk/base';

.draggable {
  background: #fff;
  border: 2px solid $govuk-border-colour;
  border-bottom: 0;
  max-height: 15rem;
  overflow: hidden;
  padding: govuk-spacing(1);
  position: relative;

  &::before {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    content: '\00a0';
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  &:focus {
    border: 3px solid govuk-colour('black');
    outline: none;
  }
}

.isDragging {
  border: 3px solid govuk-colour('black');
}

.dragHandle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: govuk-spacing(2);

  &::after {
    color: govuk-colour('dark-grey');
    content: '\2630';
    font-size: 2.25rem;
    height: 2.5rem;
  }
}
