@import '~govuk-frontend/govuk/base';

.container {
  background: govuk-colour('light-grey');
  border: 1px solid govuk-colour('orange');
  margin-left: -325px;
  padding: govuk-spacing(3);
  position: absolute;
  width: 300px;
  z-index: 998;

  &::before {
    border-bottom: 20px solid transparent;
    border-left: 20px solid govuk-colour('orange');
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    content: '';
    position: absolute;
    right: -40px;
    top: 5px;
  }

  :global(.govuk-details__text) {
    padding-left: govuk-spacing(3);
    padding-right: 0;
  }
}

.containerOpen {
  z-index: 999;
}

.commentsContainer {
  list-style: none;
  max-height: 300px;
  overflow: auto;
  padding-left: 0;
}
