@import '~govuk-frontend/govuk/base';

.toggle {
  background: $govuk-brand-colour;
  bottom: 0;
  left: 0;
  max-width: 390px;
  padding: 6px;
  position: fixed;
  width: 100%;
  z-index: 10000;

  @media print {
    display: none;
  }

  :global(.govuk-radios) {
    background: govuk-colour('white');
    min-height: 100px;
    padding: 6px 6px 0;
  }

  &.open {
    border-top: 0;
  }
}

.button {
  background: $govuk-brand-colour;
  border: 4px solid transparent;
  color: govuk-colour('white');
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;

  &:focus,
  &:focus-visible {
    border-color: govuk-colour('yellow');
    outline: none;
  }
}

.button :global(.govuk-accordion__icon) {
  &::before,
  &::after {
    background-color: govuk-colour('white');
  }
}

.open :global(.govuk-accordion__icon) {
  &::after {
    content: none;
  }
}

.open {
  .button {
    margin-bottom: 6px;
  }
}

.content {
  background-color: govuk-colour('white');
  display: none;
  .open & {
    display: block;
  }
}
