@import '~govuk-frontend/govuk/base';
@import '@admin/styles/variables';

.preview {
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2);

  pre {
    white-space: normal;
  }
}

.readOnly {
  background: govuk-colour('light-grey');
  border: 2px solid $govuk-border-colour;
  min-height: 2.2rem;
}

.editButton {
  cursor: pointer;

  &:focus {
    @include govuk-focused-text;
  }
}

.commentsButtonContainer {
  margin-left: -$dfe-comments-width;
  position: absolute;
  width: $dfe-comments-width - $dfe-comments-gutter;

  button {
    width: 100%;
  }
}
