@import '~govuk-frontend/govuk/base';
@import '@admin/styles/variables';

$border-width: 2px;
$locked-border-width: 4px;

.preview {
  margin-bottom: govuk-spacing(2);
  padding: govuk-spacing(2);
  position: relative;

  pre {
    white-space: normal;
  }
}

.readOnly {
  background: govuk-colour('light-grey');
  border: $border-width solid $govuk-border-colour;
  min-height: 2.2rem;
}

.editable {
  cursor: pointer;
}

.locked {
  border: $locked-border-width solid govuk-colour('orange');
  cursor: not-allowed;
}

.lockedMessage {
  background: govuk-colour('orange');
  bottom: -#{$locked-border-width};
  color: govuk-colour('white');
  font-weight: $govuk-font-weight-bold;
  padding: govuk-spacing(1) govuk-spacing(2);
  position: absolute;
  right: -#{$locked-border-width};
}

.commentsButtonContainer {
  margin-left: -$dfe-comments-width;
  position: absolute;
  width: $dfe-comments-width - $dfe-comments-gutter;

  button {
    width: 100%;
  }
}
