.editable-header {
  position: relative;

  label {
    display: none;
  }

  input {
    position: relative;
    z-index: 1000;
  }
}

.draggableItem {
  padding-left: 0 !important;

  :global(.govuk-accordion__section-heading) {
    font-size: 1.5rem;
    line-height: 1;
    padding-left: 40px;
  }
}
