@import 'src/styles/govuk-base';

.preview {
  margin-bottom: govuk-spacing(2);
  padding: 0 govuk-spacing(2);

  pre {
    white-space: normal;
  }
}

.readOnly {
  background: govuk-colour('light-grey');
  border: 2px solid $govuk-border-colour;
  min-height: 2.2rem;
}

.editButton {
  cursor: pointer;

  &:focus {
    @include govuk-focused-text;
  }
}
