@import '~govuk-frontend/govuk/base';

.editable-header {
  position: relative;

  label {
    display: none;
  }

  input {
    position: relative;
    z-index: 1000;
  }
}

.dragContainer {
  position: relative;

  &::before {
    color: govuk-colour('dark-grey');
    content: '\2630';
    cursor: grab;
    font-size: 2.25rem;
    height: 2.25rem;
    position: absolute;
    right: 0;
    top: govuk-spacing(1);
  }

  &:focus {
    @include govuk-focused-text;
  }

  :global(.govuk-accordion__section-header) {
    cursor: grab;
  }

  :global(.govuk-accordion__section-heading) {
    font-size: 1.5rem;
  }
}

.isDragging {
  @include govuk-focused-text;

  :global(.govuk-accordion__section-header) {
    cursor: grabbing;
    font-size: 1.5rem;
  }
}
