@import '~govuk-frontend/dist/govuk/base';
@import '@admin/styles/variables';

.form {
  // stylelint-disable selector-no-qualifying-type
  img:not([alt]),
  img[alt=''] {
    // stylelint-enable selector-no-qualifying-type
    border: 4px solid $govuk-error-colour;
    padding: 4px;
  }
}
