@import '~govuk-frontend/govuk/base';

.draggable {
  background: govuk-colour('white');
  position: relative;

  &:hover {
    background: govuk-colour('light-grey');
  }

  &:focus {
    @include govuk-focused-text;
    z-index: 1;
  }

  :global(.govuk-accordion__section-header) {
    cursor: grab;
  }

  :global(.govuk-accordion__section-heading) {
    font-size: 1.5rem;
    font-weight: $govuk-font-weight-bold;
  }
}

.dragHandle {
  color: govuk-colour('dark-grey');
  font-size: 2.25rem;
  height: 2.25rem;
  position: absolute;
  right: 0;
  top: govuk-spacing(1);
}
