@use '~govuk-frontend/dist/govuk/base' as *;

.container {
  border-bottom: 1px solid govuk-colour('black', $variant: 'tint-80');

  em {
    background-color: govuk-colour('yellow');
    color: govuk-colour('black');
    font-style: normal;
    font-weight: bold;
  }
}

.highlightContent {
  color: govuk-colour('black', $variant: 'tint-25');
}
