@import '~govuk-frontend/dist/govuk/base';

.container {
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.highlightContent {
  color: govuk-colour('dark-grey');

  em {
    background-color: govuk-colour('yellow');
    color: govuk-colour('black');
    font-style: normal;
    font-weight: bold;
  }
}
