@import '~govuk-frontend/dist/govuk/base';

.releasePageTitleWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(6);
  }
}

.releasePageTitle {
  flex: 1 1 80%;

  @include govuk-media-query($from: tablet) {
    flex-grow: 0;
  }
}
