@use '~govuk-frontend/dist/govuk/base' as *;

.releasePageTitleWrap {
  display: flex;
  justify-content: space-between;
  gap: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(6);
  }
}
