@import '~govuk-frontend/govuk/base';

.form {
  border-bottom: 1px solid govuk-colour('mid-grey');
  border-top: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(3) 0;

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4) 0;
  }

  :global(.govuk-form-group) {
    margin-bottom: 0;
  }
}
