version: "3"
services:
  data-api:
    container_name: ees-data
    build:
      context: .
      dockerfile: Dockerfile-Data-Api
    ports:
    - "5000:5000"
    - "5001:5001"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_ConnectionStrings__StatisticsDb: Server=db;Database=master;User=SA;Password=Your_Password123;Connection Timeout=1000;
    depends_on:
    - db
  content-api:
    container_name: ees-content
    build: 
      context: .
      dockerfile: Dockerfile-Content-Api
    ports:
    - "5010:5010"
    - "5011:5011"
#  frontend:
#    container_name: ees-frontend
#    build: explore-education-statistics-frontend
#    volumes:
#      - './explore-education-statistics-frontend:/usr/src/app'
#      - '/usr/src/app/node_modules'
#    ports:
#      - '3000:3000'
#    environment:
#      - NODE_ENV=development
#    depends_on:
#      - data-api
#      - content-api
  data-storage:
    container_name: ees-storage
    build:
      context: .
      dockerfile: Dockerfile-Azurite
    ports:
      - "10000:10000"
  db:
    container_name: ees-mssql
    image: "mcr.microsoft.com/mssql/server"
    ports:
      - "1433:1433"
    volumes:
      - ../data/ees-mssql:/var/opt/mssql/data
    environment:
      SA_PASSWORD: "Your_Password123"
      ACCEPT_EULA: "Y"
