$govuk-page-width: 1240px !default;

.govuk-width-container {
    max-width: 1020px;
}

.govuk-width-container-wide {
    max-width: 1200px;
}

.govuk-caption-inline {
	display: inline;
}

.no-close {
	.app-step-nav__toggle-link {
		display: none;
	}
}

.app-step-nav__controls {
	display: none;
}

.app-step-nav--large .app-step-nav__header {
	padding: 30px 0 10px 0;
}

.govuk-tag {
	margin-bottom: 5px;
}

.govuk-grid-column-one-third .govuk-select {
	max-width: 70%;
} 