//Dashboard tiles

.dash-tiles {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	padding-bottom: 20px;

	.tile {
		background: #f8f8f8;
//		border-bottom: 1px solid $govuk-border-colour;
		border-top: 1px solid  $govuk-border-colour;
		flex-basis: 23%;
		margin: 2% 1% 1%;
		position: relative;

		&.latest {
			background-color: rgba(#005ea5, 0.15);
			border-color: #005ea5;

			.govuk-tag {
				background:  $govuk-link-colour;
				color: white;
				font-weight: bold;
				padding-left: 8px;
			}
		}

		.govuk-tag {
			position: absolute;
			left: 0;
			bottom: 100%;
			margin-bottom: 0;
			background: none;
			color: #6f777b;
			font-weight: normal;
			padding-left: 0;
		}

		a {
			padding: 20px ;
			display: block;
			text-decoration: none;

			.govuk-caption-l {
				font-weight: bold;
//				text-decoration: underline;
				color: $govuk-link-colour;
				min-height: 2.5em;
			}

			.govuk-caption-m {
				&.date-range {
					font-size: 1rem;
				}

				&.trend {
//					margin-top: 5px;

					strong {
						font-size: 1.3rem;
						font-weight: normal;
						color: black;

						&.decrease:after,
						&.increase:after {
							display: inline-block;
							padding-right: 0.2em;
							color: #bfc1c3;
						}

						&.decrease:after {
							content: "\25BC";
						}

						&.increase:after {
							content: "\25B2";
						}

//						&.good:after {
//							color: #006435;
//						}
//
//						&.bad:after {
//							color: #b10e1e;
//						}
					}

				}

			}

			.trend-icon {
				padding-right: 60px;
				background-size: 50px;
				background-position: 100% 50%;
				background-repeat: no-repeat;
				color: black;
				font-size: 3rem;
				margin-bottom: 10px;
				//				font-weight: normal;

				//				&.govuk-caption-increase-negative {
				//					background-image: url(/public/images/absence-and-exclusion/baseline_trending_up_red_48dp.png);
				//				}

				//				&.govuk-caption-increase-positive {
				//					background-image: url(/public/images/absence-and-exclusion/baseline_trending_up_green_48dp.png);
				//				}
				//
				//				&.govuk-caption-decrease-negative {
				//					background-image: url(/public/images/absence-and-exclusion/baseline_trending_down_red_48dp.png);
				//				}
				//
				//				&.govuk-caption-decrease-positive {
				//					background-image: url(/public/images/absence-and-exclusion/baseline_trending_down_green_48dp.png);
				//				}
				//
				//				&.govuk-caption-static {
				//					background-image: url(/public/images/absence-and-exclusion/baseline_trending_flat_blue_48dp.png);
				//				}
			}

		}

	}

	&.simple {
		.tile {
			flex-basis: 48%;
		}
	}
}


//Step by step process
#step-by-step-navigation {
	.govuk-tabs__panel {
		border: none;
		padding: 20px 0;
	}
}
