PUBLIC_URL=http://localhost:3000  # URL of the public frontend
ADMIN_URL=https://localhost:5021  # URL for the Admin frontend
ADMIN_EMAIL=ADMIN_EMAIL  # BAU1 user email
ADMIN_PASSWORD=ADMIN_PASSWORD  # BAU1 user password