PUBLIC_URL=http://localhost:3000
DATA_API_URL=http://localhost:5000/api
CONTENT_API_URL=http://localhost:5010/api
ADMIN_URL=https://localhost:5021
ADMIN_EMAIL=ADMIN_EMAIL
ADMIN_PASSWORD=ADMIN_PASSWORD
ANALYST_EMAIL=ANALYST_EMAIL
ANALYST_PASSWORD=ANALYST_PASSWORD
RELEASE_COMPLETE_WAIT=120
WAIT_MEDIUM=120
WAIT_LONG=180
FAIL_TEST_SUITES_FAST=1   # or "0" if wanting to allow test suites to continue even after one of their child tests fails