DATA_API_URL="about:blank"
PUBLIC_URL="about:blank"
ADMIN_URL="about:blank"
ADMIN_EMAIL="test@test.com"
ADMIN_PASSWORD="password_goes_here"
ANALYST_EMAIL="test@test.com"
ANALYST_PASSWORD="password_goes_here"
