PUBLIC_URL=http://localhost:3000  # URL of the public frontend
DATA_API_URL=http://localhost:5000/api  # URL for the Data API
CONTENT_API_URL=http://localhost:5010/api  # URL for the Content API
PUBLIC_AUTH_USER= # the basic auth user for the public frontend (leave empty if none)
PUBLIC_AUTH_PASSWORD= # the basic auth password for the public frontend (leave empty if none)
ADMIN_URL=https://localhost:5021  # URL for the Admin frontend
ADMIN_EMAIL=ADMIN_EMAIL  # BAU1 user email
ADMIN_PASSWORD=ADMIN_PASSWORD  # BAU1 user password
ANALYST_EMAIL=ANALYST_EMAIL  # Analyst1 user email
ANALYST_PASSWORD=ANALYST_PASSWORD  # Analyst1 user password
EXPIRED_INVITE_USER_EMAIL= # Expired Invite user email
EXPIRED_INVITE_USER_PASSWORD= # Expired Invite user password
RELEASE_COMPLETE_WAIT=120  # Time to wait for a release to publish (in seconds)
WAIT_MEMORY_CACHE_EXPIRY=2  # Time to wait for the memory cache to expire (in minutes. Local = 2, Dev = 10)
WAIT_MEDIUM=120  # Variable used throughout tests (in seconds)
WAIT_SMALL=45 # Variable used throughout tests (in seconds)
WAIT_LONG=180  # Variable used throughout tests (in seconds)
TIMEOUT=30 # Variable used throughout tests (in seconds)
IMPLICIT_WAIT=15 # Variable used throughout tests (in seconds)
FAIL_TEST_SUITES_FAST=1 # ("0" or "1") Fails entire test suite after any failure
IDENTITY_PROVIDER= # ("AZURE" or "KEYCLOAK") opt into using either a Keycloak or Azure based identity provider
PUBLISHER_FUNCTIONS_URL=http://localhost:7072 # The base URL for the Publisher Functions project for the environment
