@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1></h1>


<h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Manage your account</span>
    Change your account settings
</h1>

<div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <partial name="_ManageNav" />
        </div>
        <div class="govuk-grid-column-two-thirds">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
