@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4 class="govuk-heading-m">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="govuk-form-group">
                <label asp-for="Username" class="govuk-label"></label>
                <input asp-for="Username" class="govuk-input" disabled />
            </div>
            <div class="govuk-form-group">
                <label asp-for="Input.PhoneNumber" class="govuk-label"></label>
                <input asp-for="Input.PhoneNumber" class="govuk-input" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="govuk-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}