<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <httpRuntime maxRequestLength="104857600" executionTimeout="240" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>