@using GovUk.Education.ExploreEducationStatistics.Admin.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="govuk-header__navigation-item">
            <a class="govuk-header__link" href="/documentation">Administrators' guide</a>
    </li>
    <li class="govuk-header__navigation-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
            <button type="submit" class="govuk-header__link">Sign out</button>
        </form>
    </li>
}